<div class="wrapper-pro">
    <div class="left-sidebar-pro">
        <app-side-menu></app-side-menu>
    </div>

    <div class="content-inner-all">
        <div class="admin-dashone-data-table-area" style="user-select: text;">
            <div class="container-fluid" style="user-select: text;">
                <div class="row" style="user-select: text;">
                    <div class="col-lg-12" style="user-select: text;">




                        <br style="user-select: text;">

                        <form action="/MyCommission/CommissionLedger" method="post" style="user-select: text;"><input
                                id="DailyBinaryFlag" name="DailyBinaryFlag" type="hidden" value="False"
                                style="user-select: text;">
                            <div class="message-error error" id="validationMessages" style="user-select: text;"></div>
                            <div class="sparkline13-list shadow-reset" style="user-select: text;">
                                 
                                <div class="sparkline13-graph" style="user-select: text;">
                                    <div class="datatable-dashv1-list custom-datatable-overright"
                                        style="user-select: text;">

                                        <div class="row" style="user-select: text;">
                                            <div class="col-lg-12" style="user-select: text;">
                                                <div class="all-form-element-inner" style="user-select: text;">
                                                    <br style="user-select: text;">
                                                    <div class="form-group-inner" style="user-select: text;">
                                                        <div class="row" style="user-select: text;">
                                                            <div class="col-md-4" style="user-select: text;">
                                                                <label for="ddlOption" style="user-select: text;">Select
                                                                    Option</label>
                                                            </div>
                                                            <div class="col-md-6" style="user-select: text;">
                                                                <select id="ddlOption" class="form-control"
                                                                    name="ddlOption" style="user-select: text;">
                                                                    <option selected="selected" value="0"
                                                                        style="user-select: text;">Date-Wise</option>
                                                                    <option value="1" style="user-select: text;">
                                                                        Payout-Wise</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group-inner" id="datewsiediv"
                                                        style="user-select: text;">
                                                        <div class="row" style="user-select: text;">
                                                            <div class="col-md-4" style="user-select: text;">
                                                                <label for="DatewiseFrom"
                                                                    style="user-select: text;">From Date</label>
                                                            </div>
                                                            <div class="col-md-6 data-custon-pick"
                                                                style="user-select: text;">
                                                                <div class="input-group date"
                                                                    style="user-select: text;">
                                                                    <span class="input-group-addon"
                                                                        style="user-select: text;"><i
                                                                            class="fa fa-calendar"
                                                                            style="user-select: text;"></i></span>

                                                                    <input id="DatewiseFrom" name="DatewiseFrom"
                                                                        type="text" style="user-select: text;">

                                                                    <input data-val="true"
                                                                        data-val-date="The field HDatewiseFrom must be a date."
                                                                        id="HDatewiseFrom" name="HDatewiseFrom"
                                                                        type="hidden" value=""
                                                                        style="user-select: text;">
                                                                    <span class="field-validation-valid"
                                                                        data-valmsg-for="DatewiseFrom"
                                                                        data-valmsg-replace="true"
                                                                        style="user-select: text;"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br style="user-select: text;">
                                                        <div class="row" style="user-select: text;">
                                                            <div class="col-md-4" style="user-select: text;">
                                                                <label for="DatewiseTo" style="user-select: text;">To
                                                                    Date</label>
                                                            </div>
                                                            <div class="col-md-6 data-custon-pick"
                                                                style="user-select: text;">
                                                                <div class="input-group date"
                                                                    style="user-select: text;">
                                                                    <span class="input-group-addon"
                                                                        style="user-select: text;"><i
                                                                            class="fa fa-calendar"
                                                                            style="user-select: text;"></i></span>

                                                                    <input id="DatewiseTo" name="DatewiseTo" type="text"
                                                                        style="user-select: text;">

                                                                    <input data-val="true"
                                                                        data-val-date="The field HDatewiseTo must be a date."
                                                                        id="HDatewiseTo" name="HDatewiseTo"
                                                                        type="hidden" value=""
                                                                        style="user-select: text;">
                                                                    <span class="field-validation-valid"
                                                                        data-valmsg-for="DatewiseTo"
                                                                        data-valmsg-replace="true"
                                                                        style="user-select: text;"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group-inner" style="user-select: text;">

                                                        <div class="row" id="payoutwisediv"
                                                            style="display: none; user-select: text;">
                                                            <div class="col-md-4" style="user-select: text;">
                                                                <label for="PM_ID" style="user-select: text;">Select
                                                                    Plan Type</label>
                                                            </div>
                                                            <div class="col-md-6" style="user-select: text;">
                                                                <select id="ddlPlanType" autocomplete="off"
                                                                    class="form-control" maxlength="22" name="PM_ID"
                                                                    style="user-select: text;">
                                                                    <option value="" style="user-select: text;">Select
                                                                        Plan Type</option>
                                                                    <option value="1" style="user-select: text;">
                                                                        Matching Income</option>
                                                                    <option value="2" style="user-select: text;">
                                                                        Leadership/CCM Bonus</option>
                                                                    <option value="6" style="user-select: text;">Direct
                                                                        &amp; Renewal Income</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group-inner" id="trPayoutNoList"
                                                        style="display: none; user-select: text;">
                                                        <div class="row" style="user-select: text;">
                                                            <div class="col-md-4" style="user-select: text;">
                                                                <label for="PN_ID" style="user-select: text;">Select
                                                                    Payout No.</label>
                                                            </div>
                                                            <div class="col-md-6" style="user-select: text;">
                                                                <select id="ddlPayoutFrom" autocomplete="off"
                                                                    class="form-control" maxlength="22" name="PN_ID"
                                                                    style="user-select: text;">
                                                                    <option value="" style="user-select: text;">Select
                                                                        Payout Number</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group-inner" id="trPayoutStartDate"
                                                        style="display: none; user-select: text;">
                                                        <div class="row" style="user-select: text;">
                                                            <div class="col-md-4" style="user-select: text;">
                                                                <label for="PayoutStartDate"
                                                                    style="user-select: text;">Payout From Date</label>

                                                            </div>
                                                            <div class="col-md-6" id="divPayoutDate"
                                                                style="user-select: text;">
                                                                <span id="PayoutStartDate"
                                                                    style="user-select: text;"></span>
                                                                <input id="payoutStartDate" name="PayoutStartDate"
                                                                    type="hidden" value="" style="user-select: text;">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-inner" id="trPayoutEndDate"
                                                        style="display: none; user-select: text;">

                                                        <div class="row" style="user-select: text;">
                                                            <div class="col-md-4" style="user-select: text;">
                                                                <label for="PayoutEndDate"
                                                                    style="user-select: text;">Payout To Date</label>
                                                            </div>
                                                            <div class="col-md-6" id="divPayoutDate"
                                                                style="user-select: text;">
                                                                <span id="PayoutEndDate"
                                                                    style="user-select: text;"></span>
                                                                <input id="payoutEndDate" name="PayoutEndDate"
                                                                    type="hidden" value="" style="user-select: text;">
                                                            </div>
                                                        </div>
                                                    </div>









                                                    <div class="login-horizental cancel-wp align-middle"
                                                        style="user-select: text;">
                                                        <button class="btn btn-custon-four btn-primary" id="search"
                                                            type="submit" style="user-select: text;"><i
                                                                class="fa fa-search" style="user-select: text;"></i>
                                                            Search </button>
                                                        <button class="btn btn-custon-four btn-warning" type="button"
                                                            id="btnreset" style="user-select: text;"> <i
                                                                class="fa fa-refresh" style="user-select: text;"></i>
                                                            Reset</button>
                                                        <input type="hidden" name="hdnReset" id="hdnReset" value=""
                                                            style="user-select: text;">
                                                    </div>






                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br style="user-select: text;">
                            <div class="sparkline16-list shadow-reset" style="user-select: text;">

                                <div class="sparkline16-hd" style="user-select: text;">
                                    <div class="main-sparkline16-hd" style="user-select: text;">
                                        <h1 style="user-select: text;">Commission Ledger</h1>


                                    </div>
                                </div>


                                <div class="sparkline16-list shadow-reset" style="user-select: text;">
                                    <div class="sparkline16-graph" style="user-select: text;">
                                        <div class="datatable-dashv1-list custom-datatable-overright" id="BinaryBothdiv"
                                            style="user-select: text;">
                                            <div id="ScrollableDiv" style="user-select: text;">
                                                <div class="table-wrapper" style="user-select: text;">
                                                    <div style="text-align: center; user-select: text;">
                                                        <b style="user-select: text;">Abhinandan Sugga[WG1881881]</b>
                                                    </div>
                                                    <div id="tblCommissionLegder_wrapper"
                                                        class="dataTables_wrapper no-footer" style="user-select: text;">
                                                        <div class="DTTT_container" style="user-select: text;"><a
                                                                class="DTTT_button DTTT_button_xls"
                                                                id="ToolTables_tblCommissionLegder_0"
                                                                title="Export To Excel" tabindex="0"
                                                                aria-controls="tblCommissionLegder"
                                                                style="user-select: text;"><span id=""
                                                                    style="user-select: text;">
                                                                    <img _ngcontent-ome-c52="" src="https://i.postimg.cc/y6S78MBz/export-excel.png" style="user-select: text;height: 35px;"></span></a></div>
                                                        <div class="clear" style="user-select: text;"></div>
                                                        <form class="form-inline my-2 my-lg-0">
                                                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                                          </form>
                                                        <div id="tblCommissionLegder_processing"
                                                            class="dataTables_processing"
                                                            style="display: none; user-select: text;">
                                                            <div class="loader" style="user-select: text;"></div>
                                                        </div>
                                                        <table id="tblCommissionLegder"
                                                            class="table table-striped table-bordered dataTable no-footer DTTT_selectable"
                                                            cellspacing="0" width="100%" role="grid"
                                                            aria-describedby="tblCommissionLegder_info"
                                                            style="width: 100%; user-select: text;">
                                                            <thead style="user-select: text;">
                                                                <tr role="row" style="user-select: text;">
                                                                    <th class="sorting_asc" tabindex="0"
                                                                        aria-controls="tblCommissionLegder" rowspan="1"
                                                                        colspan="1" aria-sort="ascending"
                                                                        aria-label="Sr. No: activate to sort column descending"
                                                                        style="width: 44.4px; user-select: text;">Sr. No
                                                                    </th>
                                                                    <th class="sorting" tabindex="0"
                                                                        aria-controls="tblCommissionLegder" rowspan="1"
                                                                        colspan="1"
                                                                        aria-label=" Company Payout No.(Remark): activate to sort column ascending"
                                                                        style="width: 332.4px; user-select: text;">
                                                                        Company Payout No.(Remark)</th>
                                                                    <th class="sorting" tabindex="0"
                                                                        aria-controls="tblCommissionLegder" rowspan="1"
                                                                        colspan="1"
                                                                        aria-label="Start Date: activate to sort column ascending"
                                                                        style="width: 77.4px; user-select: text;">Start
                                                                        Date</th>
                                                                    <th class="sorting" tabindex="0"
                                                                        aria-controls="tblCommissionLegder" rowspan="1"
                                                                        colspan="1"
                                                                        aria-label="End Date: activate to sort column ascending"
                                                                        style="width: 77.4px; user-select: text;">End
                                                                        Date</th>
                                                                    <th class="sorting" tabindex="0"
                                                                        aria-controls="tblCommissionLegder" rowspan="1"
                                                                        colspan="1"
                                                                        aria-label="Total Deduction: activate to sort column ascending"
                                                                        style="width: 109.4px; user-select: text;">Total
                                                                        Deduction</th>
                                                                   
                                                                   
                                                                </tr>
                                                            </thead>


                                                            <tbody style="user-select: text;">


                                                                <tr role="row" class="odd" style="user-select: text;"  *ngFor="let user of commisiondata">
                                                                    <td data-label="Sr. No" class="sorting_1"
                                                                        style="user-select: text;">1</td>





                                                                    <td data-label=" Company Payout No.(Remark)"
                                                                        style="user-select: text;"> Payout No.{{user.id}}</td>
                                                                    <td data-label="Start Date"
                                                                        style="user-select: text;">{{getDateBefore(user.dt)}}</td>
                                                                    <td data-label="End Date"
                                                                        style="user-select: text;">{{user.dt}}</td>
                                                                    <td data-label="Total Income"
                                                                        style="user-select: text;">₹ {{user.amount}}</td>
                                                                    
                                                                    
                                                                </tr>
                                                            </tbody>
                                                            <tbody style="user-select: text;">
                                                                <tr id="footerResponsive" style="user-select: text;">
                                                                    <td id="SetTDStyle"
                                                                        style="text-align: center; user-select: text;">
                                                                        Totals</td>
                                                                    <td id="showTD" style="user-select: text;"></td>
                                                                    <td id="showTD" style="user-select: text;"></td>
                                                                    <td id="showTD" style="user-select: text;"></td>
                                                                    <td style="padding-bottom: 16px; user-select: text;"
                                                                        data-label="Total Income" id="SetTDStyle"> ₹
                                                                        {{getSumOfAmount()}}</td>
                                                                  
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="dataTables_info" id="tblCommissionLegder_info"
                                                            role="status" aria-live="polite" style="user-select: text;">
                                                            <div class="dataTables_length"
                                                                id="tblCommissionLegder_length"
                                                                style="user-select: text;">Showing 1 to 10 of 98
                                                                entries<span style="user-select: text;"> , <select
                                                                        name="tblCommissionLegder_length"
                                                                        aria-controls="tblCommissionLegder" class=""
                                                                        style="user-select: text;">
                                                                        <option value="10" style="user-select: text;">10
                                                                        </option>
                                                                        <option value="25" style="user-select: text;">25
                                                                        </option>
                                                                        <option value="50" style="user-select: text;">50
                                                                        </option>
                                                                        <option value="100" style="user-select: text;">
                                                                            100</option>
                                                                    </select> entries per page</span></div>
                                                        </div>
                                                        <div class="dataTables_paginate paging_full_numbers"
                                                            id="tblCommissionLegder_paginate"
                                                            style="user-select: text;"><a
                                                                class="paginate_button previous disabled"
                                                                aria-controls="tblCommissionLegder" data-dt-idx="0"
                                                                tabindex="0" id="tblCommissionLegder_previous"
                                                                style="user-select: text;">&lt;</a><span
                                                                style="user-select: text;"><a
                                                                    class="paginate_button current"
                                                                    aria-controls="tblCommissionLegder" data-dt-idx="1"
                                                                    tabindex="0" style="user-select: text;">1</a><a
                                                                    class="paginate_button "
                                                                    aria-controls="tblCommissionLegder" data-dt-idx="2"
                                                                    tabindex="0" style="user-select: text;">2</a><a
                                                                    class="paginate_button "
                                                                    aria-controls="tblCommissionLegder" data-dt-idx="3"
                                                                    tabindex="0" style="user-select: text;">3</a><a
                                                                    class="paginate_button "
                                                                    aria-controls="tblCommissionLegder" data-dt-idx="4"
                                                                    tabindex="0" style="user-select: text;">4</a><a
                                                                    class="paginate_button "
                                                                    aria-controls="tblCommissionLegder" data-dt-idx="5"
                                                                    tabindex="0" style="user-select: text;">5</a><span
                                                                    class="ellipsis"
                                                                    style="user-select: text;">…</span><a
                                                                    class="paginate_button "
                                                                    aria-controls="tblCommissionLegder" data-dt-idx="6"
                                                                    tabindex="0"
                                                                    style="user-select: text;">10</a></span><a
                                                                class="paginate_button next"
                                                                aria-controls="tblCommissionLegder" data-dt-idx="7"
                                                                tabindex="0" id="tblCommissionLegder_next"
                                                                style="user-select: text;">&gt;</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br style="user-select: text;">
                        </form>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>