.banner {
    /* background-image: url('../../assets/img/rectangle-993@1x.png'); */
    background-image: url('../../assets/img/videobg.gif');

    background-size: 100% 100%;
    height: 280px !important;
}

/* .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    max-width: 800px;

    color: #FFFFFF;
} */



.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    max-width: 800px;
    color: #FFFFFF;
    /* z-index: 1; */
}

@media (max-width: 767px) {
    .title {
        font-size: 36px;
        line-height: 54px;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .title {
        font-size: 48px;
        line-height: 72px;
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .title {
        font-size: 56px;
        line-height: 84px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 60px;
        line-height: 90px;
        max-width: 800px;
    }
}

/* .vid {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    margin-top: 41px;
} */


.vid {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 1.2;
    color: #FFFFFF;
    margin-top: 2.5vw;
}

.vid-box-container {
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-box {
    margin: 20px 0px 9% 0;
    background: #2A2A2A;
    border-radius: 20px;
    max-width: 375px;
    height: 89%;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subs {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: rgba(238, 238, 238, 0.6);
}

.vid-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* identical to box height */


    color: #DDDDDD;
}

.crop {
    /* overflow: hidden;
    width: 100px;
    height: 100px; */
}




@media (max-width: 767px) {

    .vid-box {
        margin-bottom: 0%;
        display: flex;
        justify-content: center;
        height: 97%;
    }

    .imgUpd {
        width: 450px;
        height: 300px;
        border-radius: 10px;
        transition: width 0.3s, height 0.4s;
    }

    .imgUpd:hover {
        width: 460px;
        height: 310px;
        border-radius: 10px;
    }

    .welcome_box {
        /* padding-bottom: 20px; */
    }
}