.title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;

color: #FFFFFF;
}

.label{
    background: #2A2A2A;
border-radius: 10px;
width: 289px;
height: 202px;
justify-content: center;
align-items: center;
}
.plan-details{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;
}
.divider{
    border: 0.5px solid #E3E3E3;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.btn{
    background: #2A2A2A;
border-radius: 10px;
width: 247px;
height: 71px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;
/* identical to box height */


color: #BBBBBB;

margin-top: 30px;
}
.barcode{
    width: 343px;
    height: 346px;
    
}
.label2{
    background: #2A2A2A;
border-radius: 12px;
width: 486px;
height: 262px;
justify-content: center;
align-items: center;
}

.payment-inputs{
    background: #333333;
    border-radius: 3px;
    width: 405px;
    height: 73px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* or 100% */
padding-left: 20px;


color: #8F8F8F;
}

.btn2{
    background: #CE992F;
border-radius: 0px 30px 30px 20px;
width: 427px;
height: 62px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;
}