<nav class="relative px-4 py-4 flex justify-between items-center sidebar" id="mySidenav1" style="background: #1F1F1F;"
  *ngIf="set">

  <div class="lg:hidden" (click)="openNav()">
    <button class="navbar-burger flex items-center text-blue-600 p-3">
      <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>

  <ul
    class="text-start hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex  lg:flex lg:items-center lg:w-auto lg:space-x-6 pc-view">
    <li><a class="text-sm text-gray-400 hover:text-gray-500 menus" href="#" routerLink="home">Home</a></li>
    <li class="text-gray-300"></li>


    <li><a class="text-sm text-gray-400 hover:text-gray-500 menus" href="#" routerLink="bank-details">Bank Details</a>
    </li>
    <li class="text-gray-300">

    </li>
    <li><a class="text-sm text-gray-400 hover:text-gray-500 menus" href="#" routerLink="contact">Contact</a></li>
  </ul>

  <!-- <a   class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus" href="#" style="background: #CE992F;border-radius: 0px 30px 30px 20px;" routerLink="registration">Register</a> -->
  <div class="mt-auto">
    <a class="hidden lg:inline-block py-2 mx-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200 menus"
      href="null/null" style="border: 1px solid #CE992F;border-radius: 30px 20px 0px 30px;background: #1F1F1F;"
      *ngIf="!isLogedin">Register</a>
    <a class="hidden lg:inline-block py-2 px-6 mx-2 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200 menus"
      href="#" style="border: 1px solid #CE992F;border-radius: 30px 20px 0px 30px;background: #1F1F1F;"
      *ngIf="!isLogedin" routerLink="login">Login</a>
  </div>

  <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200 menus"
    href="#" style="border: 1px solid #CE992F;border-radius: 30px 20px 0px 30px;background: #1F1F1F;" *ngIf="isLogedin"
    routerLink="login" (click)="logout()">Logout</a>

</nav>

<div class="navbar-menu relative z-50 hidden sidebar" id="mySidenav" (click)=" closeNav()">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">
        <img src="../assets/image 2.png" alt="">
      </a>
      <button class="navbar-close">
        <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div (click)=" closeNav()">
      <ul>
        <li class="mb-1">
          <a _ngcontent-krk-c54=""
            class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded  "
            href="dashboard" title="My Dashboard" style="user-select: text;">
            <!-- <i _ngcontent-krk-c54="" id="faIconStyle" class="fa big-icon fa-sitemap" style="user-select: text;"></i> -->
            <!-- <i _ngcontent-krk-c54="" id="faIconStyle" class="fas fa-tachometer-alt" style="user-select: text;"></i> -->
            <i class="fas fa-tachometer-alt"></i>

            <span _ngcontent-krk-c54="" class="mini-dn" style="user-select: text;"> My Dashboard</span><span
              _ngcontent-krk-c54="" class="indicator-right-menu mini-dn" style="user-select: text;"></span>

          </a>
        </li>

        <!-- 
        <li class="mb-1">
          <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
            *ngIf="isLogedin" href="#" routerLink="dashboard">Dashboard</a>
        </li> -->


        <li class="mb-1">
          <a _ngcontent-krk-c54=""
            class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded  "
            href="Home" title="Home" style="user-select: text;">
            <!-- <i _ngcontent-krk-c54="" id="faIconStyle" class="fa big-icon fa-sitemap" style="user-select: text;"></i> -->
            <!-- <i _ngcontent-krk-c54="" id="faIconStyle" class="fas fa-tachometer-alt" style="user-select: text;"></i> -->
            <i _ngcontent-krk-c54="" id="faIconStyle" class="fa-solid fa-house-chimney-window"
              style="user-select: text;"></i> Home<span _ngcontent-krk-c54="" class="indicator-right-menu mini-dn"
              style="user-select: text;"></span>

          </a>
        </li>
        <li class="mb-1">
          <a _ngcontent-krk-c54=""
            class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded  "
            href="dashboard" title="My Network" style="user-select: text;"><i _ngcontent-krk-c54="" id="faIconStyle"
              class="fas fa-network-wired" style="user-select: text;"></i><span _ngcontent-krk-c54="" class="mini-dn"
              style="user-select: text;"> My Network</span><span _ngcontent-krk-c54=""
              class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
        </li>
        <li class="mb-1">
          <a _ngcontent-krk-c54=""
            class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded  "
            href="dashboard" title="My Commision" style="user-select: text;"><i _ngcontent-krk-c54="" id="faIconStyle"
              class="fa-solid fa-money-check-dollar" style="user-select: text;"></i>
            <span _ngcontent-krk-c54="" class="mini-dn fs-6" style="user-select: text;"> My Commission</span><span
              _ngcontent-krk-c54="" class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
        </li>

        <li class="mb-1">
          <a _ngcontent-krk-c54=""
            class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded  "
            href="dashboard" title="E-Pin" style="user-select: text;"><i _ngcontent-krk-c54="" id="faIconStyle"
              class="fas fa-credit-card" style="user-select: text;"></i><span _ngcontent-krk-c54="" class="mini-dn fs-6"
              style="user-select: text;"> E-Pin</span><span _ngcontent-krk-c54="" class="indicator-right-menu mini-dn"
              style="user-select: text;"></span></a>
        </li>

        <li class="mb-1">
          <a _ngcontent-krk-c54="" href="/upgrade"
            class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded  "
            title="Upgrade Details" style="user-select: text;"><i _ngcontent-krk-c54="" id="faIconStyle"
              class="fas fa-arrow-up" style="user-select: text;"></i><span _ngcontent-krk-c54="" class="mini-dn"
              style="user-select: text;"> Upgrade Details</span><span _ngcontent-krk-c54=""
              class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
        </li>

        <li class="mb-1">
          <a _ngcontent-krk-c54=""
            class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded  "
            href="dashboard" title="Communication Center" style="user-select: text;"><i _ngcontent-krk-c54=""
              id="faIconStyle" class="fas fa-comments" style="user-select: text;"></i><span _ngcontent-krk-c54=""
              class="mini-dn fs-6" style="user-select: text;"> Communication Center</span><span _ngcontent-krk-c54=""
              class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
        </li>
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl"
          href="#" style="background: #CE992F;border-radius: 0px 30px 30px 20px;" routerLink="login"
          *ngIf="!isLogedin">Login</a>
      </div>

      <div class="pt-6">
        <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl"
          href="null/null" style="background: #CE992F;border-radius: 0px 30px 30px 20px;"
          *ngIf="!isLogedin">Register</a>
      </div>
      <p class="my-4 text-xs text-center text-gray-400">
        <span>Copyright © 2023</span>
      </p>
    </div>
  </nav>
</div>