<div>
    <div class="banner">
        <div class="row justify-content-center  align-items-center" style="padding-left: 3%;padding-right: 3%;">
            <div class="d-flex flex-column f1" style="margin-top: 80px;">
                <div class="head">Welcome Back Action Taker!</div>
                <div class="sub-head  mx-auto"
                    style="margin-top: 30px; letter-spacing: 0.6px;  font-family: 'Poppins';">
                    <p class=" fs-5"> Congratulations for taking the right action to start your Financial Journey
                        with
                        Us. We assure you
                        to provide the Best possible education to you through our different Financial Courses.</p>
                    <br><br>

                    <p class="fs-5">We are with you in your Entire Journey of Financial Freedom and together
                        Lets
                        Celebrate it at the
                        Earliest.</p>
                    <br> <br>

                    <p class="fs-5"> Thank You !!!</p>


                </div>
            </div>
            <!-- style="align-items: flex-end;margin-top: 200px;" -->

            <div class="d-flex flex-column f1 justify-content-center" style="align-items: center; margin-top: 50px;">
                <input type="email" class="input-box" style="padding:12px 20px;" placeholder="Email"
                    [(ngModel)]="email">
                <input type="password" class="input-box" style="margin-top: 20px;padding:12px 20px;"
                    placeholder="Password" [(ngModel)]="password">
                <button type="button" class="btn fw-bold" style="margin-top: 50px;" routerLink="/dashboard"
                    (click)="login()">Login</button>
                <!-- <button type="button" class="btn" style="margin-top: 50px;"  (click)="logout()">Logout</button> -->
            </div>
        </div>
    </div>
</div>

<!-- 
echo "# magnus-3-3" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Vaibhavnanne18/magnus-3-3.git
git push -u origin main -->
