
@media only screen and (max-width: 600px) {
    .title{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .subs{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:37px;
    /* identical to box height */
    
    
    color: #CE992F;
    }
    
    .box{
        width: 319px;
        height: 185px;
        background: #2A2A2A;
    border-radius: 10px;
    padding: 3%;
    }
    
    .f1{
        max-width: 600px;
    }
    .input-box{
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    box-sizing: border-box;
    /* width: 427px; */
    height: 71px;
    color: black;
    padding-left: 20px;
    }
    
    

    .btn{
        background: #CE992F;
    border-radius: 0px 30px 30px 20px;
    /* width: 427px; */
    height: 62px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #000000;
    }
    
    .kyc{
        width: 100%;
        background: #1F1F1F;
    border: 3px solid #CE992F;
    border-radius: 20px;
    height: 384px;
    /* padding-left: 3%; */
    }
    
    .upload{
        width: 160px;
    height: 155px;
    
    background: #1F1F1F;
    border: 2px dashed #CE992F;
    border-radius: 10px;
    }

}

@media only screen and (min-width: 600px) {

.title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
/* identical to box height */


color: #FFFFFF;
}
.subs{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #CE992F;
}

.box{
    width: 319px;
    height: 185px;
    background: #2A2A2A;
border-radius: 10px;
padding: 3%;
}

.f1{
    max-width: 600px;
}
.input-box{
border: 2px solid #DDDDDD;
border-radius: 5px;
box-sizing: border-box;
/* width: 427px; */
height: 71px;
color: black;
padding-left: 20px;
}

.btn{
    background: #CE992F;
border-radius: 0px 30px 30px 20px;
width: 427px;
height: 62px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;
}

.kyc{
    width: 100%;
    background: #1F1F1F;
border: 3px solid #CE992F;
border-radius: 20px;
height: 384px;
padding-left: 3%;
}

.upload{
    width: 168px;
height: 120px;

background: #1F1F1F;
border: 2px dashed #CE992F;
border-radius: 10px;
}
}