<div class="row">
    <div class="col">
<app-side-menu></app-side-menu>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-left: 15%;padding-right: 10%;margin-top: 50px;">
        <div class="col-sm-12">
            <div class="d-flex justify-content-between">
                <div class="title">Tree View</div>
                <div class="subs"><a href="#" routerLink="/network">Back to main page</a></div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 80px;">
        <div class="col">
            <div class="container">
                <app-tree-view></app-tree-view>
            </div>
        </div>
    </div>
</div>


 <div class="container" style="margin-top: 80px;">
    <div class="row" style="padding-left: 15%;padding-right: 10%;margin-top: 50px;">
        <div class="col-sm-12">
            <div class="d-flex justify-content-between">
                <div class="title">Generation Tree View</div>
                <div class="subs"><a href="#" routerLink="/network">Back to main page</a></div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 80px;">
        <div class="col">
            <div class="container">
                <app-tree-view2></app-tree-view2>
            </div>
        </div>
    </div>
</div> 
