<div class="banner">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="text-center title" style="margin-top: 80px">
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 40px; padding-left: 3%">
  <div class="row">
    <!-- <div class="col-sm-4">
            <div class="d-flex flex-column justify-content-center" style="align-items: center;">
                <div class="doc-box">
                    <img src="../../assets/img/srectangle-995@1x.png" alt="">
                </div>
                <div class="doc-title">Certificate of incorporation</div></div>
        </div> -->

    <div class="col-sm-4 mb-4">
      <div class="d-flex flex-column justify-content-center" style="align-items: center">
        <div class="doc-box">
          <img class="doc_img" src="../../assets/gst.png" alt="" />
        </div>
        <div class="doc-title">GST Certificate</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="d-flex flex-column justify-content-center" style="align-items: center">
        <div class="doc-box">
          <img class="doc_img" src="../../assets/pan.png" alt="" />
        </div>
        <div class="doc-title">PAN Card</div>
      </div>
    </div>


    <div class="col-sm-4">
     <div class="d-flex flex-column justify-content-center" style="align-items: center">
        <div class="doc-box">
          <img class="doc_img" src="../../assets/incruption.png   " alt="" />
        </div>
        <div class="doc-title">Incorporation Certificate</div>
      </div>
    </div>

    <div class="col-sm-4 mydocs" *ngFor="let ar of arr">
      <div class="d-flex flex-column justify-content-center" style="align-items: center">
         <div class="doc-box">
           <img class="doc_img mydocsimg" src="{{ar['url']}}" alt="" />
         </div>
         <div class="doc-title mydocstitle">{{ar['title']}}</div>
       </div>
     </div>

  </div>
</div>

<div class="container" style="margin-top: 40px; padding-left: 3%">
  <div class="row">
    <!-- <div class="col-sm-4">
      <div
        class="d-flex flex-column justify-content-center"
        style="align-items: center"
      >
        <div class="doc-box">
          <img src="../../assets/incruption.png   " alt="" />
        </div>
        <div class="doc-title">Incruption cerificate</div>
      </div>
    </div> -->

    <!-- <div class="col-sm-4">
            <div class="d-flex flex-column justify-content-center" style="align-items: center;">
                <div class="doc-box">
                    <img src="../../assets/gst2.png" alt="">
                </div>
                <div class="doc-title">Gst registration</div></div>
        </div> -->

    <!-- <div class="col-sm-4">
            <div class="d-flex flex-column justify-content-center" style="align-items: center;">
                <div class="doc-box">
                    <img src="../../assets/img/rectangle-995@1x.png" alt="">
                </div>
                <div class="doc-title">Tan No.</div></div>
        </div> -->
  </div>
</div>

<div class="container" style="margin-top: 40px; padding-left: 3%">
  <div class="row">
    <!-- <div class="col-sm-4">
            <div class="d-flex flex-column justify-content-center" style="align-items: center;">
                <div class="doc-box">
                    <img src="../../assets/img/rectangle-995@1x.png" alt="">
                </div>
                <div class="doc-title">Start up india certificate</div></div>
        </div>

        <div class="col-sm-4">
            <div class="d-flex flex-column justify-content-center" style="align-items: center;">
                <div class="doc-box">
                    <img src="../../assets/img/rectangle-995@1x.png" alt="">
                </div>
                <div class="doc-title">ISO certificate</div></div>
        </div>

        <div class="col-sm-4">
            <div class="d-flex flex-column justify-content-center" style="align-items: center;">
                <div class="doc-box">
                    <img src="../../assets/img/rectangle-995@1x.png" alt="">
                </div>
                <div class="doc-title">Other recognitions</div></div>
        </div> -->
  </div>
</div>