<div class="banner">
    <div class="container mx-auto my-auto">
        <div class="row" style="padding-left: 3%; padding-right: 3%;">
            <div class="d-flex flex-column f1 col-sm-12 col-lg-6 justify-content-center  align-items-center"
                style="margin-top: 80px;">
                <!-- <div class="head">Start your financial journey with us</div> -->
                <div class="head mx-auto">It’s Time for Action, Its Time to change your Life!!!!</div>
                <div class="sub-head fs-5" style="margin-top: 30px;">It is said that No one else but only you are
                    responsible
                    for all the situations and conditions in your Life. Only You can design your Destiny and No one
                    else.<br><br>

                    If you continue doing same things in our life as done in the past , going forward your life will be
                    same as today Physically, Mentally and most important Financially.<br> <br>

                    Now, If you want your future to be much more better than today, then you have to accept the changes
                    and be the Action Taker to change your Destiny.<br> <br>

                    <span class="fw-bold">
                        Be the Action Taker and Register yourself with MoneySaga Consultancy Services LLP – Your Story
                        of
                        Financial Freedom.
                    </span>

                </div>
            </div>
            <!-- routerLink="/courses" -->

            <div class="d-flex flex-column f1 col-xs-12  col-sm-12 col-md-6 col-lg-6 justify-content-center  align-items-center inputboxes mx-auto"
                style="align-items: flex-end;">
                <input type="text" class="input-box" style="margin-top: 50px;" name="name" placeholder="Name"
                    [(ngModel)]="name">
                <input type="email" class="input-box" style="margin-top: 20px;" name="email" placeholder="Email"
                    [(ngModel)]="email">
                <input type="text" class="input-box" style="margin-top: 20px;" name="mobileNo"
                    placeholder="Mobile Number" [(ngModel)]="mobileNo">
                <input type="password" class="input-box" style="margin-top: 20px;" name="password"
                    placeholder="Password" [(ngModel)]="password">
                <input type="text" class="input-box" style="margin-top: 20px;" name="invitationCode"
                    placeholder="Invitation Code" [(ngModel)]="invitationCode">
                <button type="button" class="btn" style="margin-top: 50px;" (click)="register()">Register</button>
            </div>
        </div>
    </div>
</div>
