<footer style="background: #1F1F1F;" *ngIf="set">
    <div style="background: #1F1F1F;">


        <div class="card">

            <div class="row g-0">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12"><img src="../../assets/Logo-4-5-05.png" alt="" srcset=""></div>
                    </div>
                </div>
                <div class="col-md-7">


                    <div class="row p-4">

                        <div class="col-md-4">

                            <ul class="item-list">

                                <li><a href="#" routerLink="/videos">Our Videos</a></li>

                            </ul>

                        </div>



                        <div class="col-md-4">

                            <ul class="item-list">

                                <li><a href="#" routerLink="/privacy-policy">Privacy Policy</a></li>

                            </ul>

                        </div>



                        <div class="col-md-4">

                            <ul class="item-list">

                                <li><a href="#" routerLink="/legal-doc">Legal Documents</a></li>

                            </ul>

                        </div>


                        <!-- 
                 <div class="col-md-3">

                     <ul class="item-list" *ngIf="logedIn" >
                         
                         <li><a href="#">Business Oppurtunities</a></li>
                         

                     </ul>
                     
                 </div> -->

                    </div>





                </div>


                <div class="col-md-3">


                    <div class="social p-4 text-center">

                        <div style="color: white;">Follow Us On</div>

                        <ul class="social-icons">

                            <li><a href="https://www.facebook.com/MoneySaga.mcs">
                                    <i class="fab fa-facebook fa-2x rounded-5 text-center"></i>
                                </a>
                            </li>


                            <li><a href="https://www.youtube.com/@MoneySaga_mcs">
                                    <i class="fab fa-youtube fa-2x rounded-5  text-center"></i>
                                </a>
                            </li>


                            <li><a href="https://www.instagram.com/moneysaga.mcs/">
                                    <i class="fab fa-instagram fa-2x rounded-5  text-center"></i>
                                </a>
                            </li>

                        </ul>

                    </div>



                </div>


            </div>




        </div>

    </div>

</footer>