<div class="body genealogy-body genealogy-scroll">
    <button (click)="addDataToTree(myid!)" style="color: burlywood;" *ngIf="parent != myid" >Move to Top</button>
   
    <div class="genealogy-tree">
        <ul class="line">
            <div class="d-flex justify-content-start bg-light mb-3">
                <div class="p-2 col-example">  <div class="member-image">
                    <img src="../../assets/OIP.jpg" alt="Member">
                    <div class="member-details">
                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >Unpaid</h3>
                        
                    </div>
                </div></div>
                <div class="p-2 col-example">          </div>
                <div class="p-2 col-example">  <div class="member-image">
                    <img src="../../assets/OIP.jpg" *ngIf="parent_i" alt="Member">
                    <img src="../../assets/avatar.jpg" *ngIf="!parent_i" alt="Member"> 
                    <div class="member-details">
                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >Paid</h3>
                        
                    </div>
                </div></div>
              </div>
          </ul>
        
        <ul>
            
            <li>
                
                <a href="javascript:void(0);" >
                    <div class="member-view-box">
                        <div class="member-image">
                            <!-- <img src="../../assets/OIP.jpg" *ngIf="isPremium" alt="Member"> -->
                            <img src="../../assets/OIP.jpg" *ngIf="left_i" alt="Member">
                            <img src="../../assets/avatar.jpg" *ngIf="!left_i" alt="Member"> 
                            <div class="member-details">
                                <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{parent}}</h3>
                            </div>
                        </div>
                    </div>
                </a>
                <ul class="active">
                    <li class="lis">
                        <a href="javascript:void(0);" (click)="addDataToTree(left)"  *ngIf="left" data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{left}}">
                            <div class="member-view-box">
                                <div class="member-image">
                                    <img src="../../assets/OIP.jpg" *ngIf="left_i" alt="Member">
                                    <img src="../../assets/avatar.jpg" *ngIf="!left_i" alt="Member"> 
                                    <div class="member-details">
                                        <b><h1 *ngIf="left_" style="font-size: 20px; color: brown;">*</h1></b>
                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{left}}</h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                  <ul >
                            <li>
                                <a data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{left_left}}" (click)="addDataToTree(left_left)" href="javascript:void(0);"  *ngIf="left_left" >
                                    <div class="member-view-box">
                                        <div class="member-image">
                                            <img src="../../assets/OIP.jpg" *ngIf="left_left_i" alt="Member">
                                            <img src="../../assets/avatar.jpg" *ngIf="!left_left_i" alt="Member"> 
                                            <div class="member-details">
                                                <b><h1 *ngIf="left_left_" style="font-size: 20px; color: brown;">*</h1></b>
                                                <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{left_left}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li>
                                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{left_left_left}}" (click)="addDataToTree(left_left_left)" href="javascript:void(0);"  *ngIf="left_left_left" >
                                            <div class="member-view-box">
                                                <div class="member-image">
                                                    <img src="../../assets/OIP.jpg" *ngIf="left_left_left_i" alt="Member">
                                                    <img src="../../assets/avatar.jpg" *ngIf="!left_left_left_i" alt="Member"> 
                                                    <div class="member-details">
                                                        <b><h1 *ngIf="left_left_left_" style="font-size: 20px; color: brown;">*</h1></b>
                                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{left_left_left}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{left_left_right}}" (click)="addDataToTree(left_left_right)" href="javascript:void(0);"  *ngIf="left_left_right" >
                                            <div class="member-view-box">
                                                <div class="member-image">
                                                    <img src="../../assets/OIP.jpg" *ngIf="left_left_right_i" alt="Member">
                                                    <img src="../../assets/avatar.jpg" *ngIf="!left_left_right_i" alt="Member"> 
                                                    <div class="member-details">
                                                        <b><h1 *ngIf="left_left_right_" style="font-size: 20px; color: brown;">*</h1></b>
                                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{left_left_right}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li>
                                <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{left_right}}" (click)="addDataToTree(left_right)" href="javascript:void(0);"  *ngIf="left_right" >
                                    <div class="member-view-box">
                                        <div class="member-image">
                                            <img src="../../assets/OIP.jpg" *ngIf="left_right_i" alt="Member">
                                            <img src="../../assets/avatar.jpg" *ngIf="!left_right_i" alt="Member"> 
                                            <div class="member-details">
                                                <b><h1 *ngIf="left_right_" style="font-size: 20px; color: brown;">*</h1></b>
                                                <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{left_right}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li>
                                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{left_right_left}}" (click)="addDataToTree(left_right_left)" href="javascript:void(0);"  *ngIf="left_right_left" >
                                            <div class="member-view-box">
                                                <div class="member-image">
                                                    <img src="../../assets/OIP.jpg" *ngIf="left_right_left_i" alt="Member">
                                                    <img src="../../assets/avatar.jpg" *ngIf="!left_right_left_i" alt="Member"> 
                                                    <div class="member-details">
                                                        <b><h1 *ngIf="left_right_left_" style="font-size: 20px; color: brown;">*</h1></b>
                                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{left_right_left}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{left_right_right}}" (click)="addDataToTree(left_right_right)" href="javascript:void(0);"  *ngIf="left_right_right" >
                                            <div class="member-view-box">
                                                <div class="member-image">
                                                    <img src="../../assets/OIP.jpg" *ngIf="left_right_right_i" alt="Member">
                                                    <img src="../../assets/avatar.jpg" *ngIf="!left_right_right_i" alt="Member"> 
                                                    <div class="member-details">
                                                        <b><h1 *ngIf="left_right_right_" style="font-size: 20px; color: brown;">*</h1></b>
                                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{left_right_right}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{right}}" (click)="addDataToTree(right)" href="javascript:void(0);"  *ngIf="right" >
                            <div class="member-view-box">
                                <div class="member-image">
                                    <img src="../../assets/OIP.jpg" *ngIf="right_i" alt="Member">
                                    <img src="../../assets/avatar.jpg" *ngIf="!right_i" alt="Member"> 
                                    <div class="member-details">
                                        <b><h1 *ngIf="right_" style="font-size: 20px; color: brown;">*</h1></b>
                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{right}}</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{right_left}}" (click)="addDataToTree(right_left)" href="javascript:void(0);"   *ngIf="right_left">
                                    <div class="member-view-box">
                                        <div class="member-image">
                                            <img src="../../assets/OIP.jpg" *ngIf="right_left_i" alt="Member">
                                            <img src="../../assets/avatar.jpg" *ngIf="!right_left_i" alt="Member"> 
                                            <div class="member-details">
                                                <b><h1 *ngIf="right_left_" style="font-size: 20px; color: brown;">*</h1></b>
                                                <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{right_left}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                              <ul>
                                    <li>
                                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{right_left_left}}" (click)="addDataToTree(right_left_left)" href="javascript:void(0);"  *ngIf="right_left_left ">
                                            <div class="member-view-box">
                                                <div class="member-image">
                                                    <img src="../../assets/OIP.jpg" *ngIf="right_left_left_i" alt="Member">
                                                    <img src="../../assets/avatar.jpg" *ngIf="!right_left_left_i" alt="Member"> 
                                                    <div class="member-details">
                                                        <b><h1 *ngIf="right_left_left_" style="font-size: 20px; color: brown;">*</h1></b>
                                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{right_left_left}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{right_left_right}}" (click)="addDataToTree(right_left_right)" href="javascript:void(0);"  *ngIf="right_left_right">
                                            <div class="member-view-box">
                                                <div class="member-image">
                                                    <img src="../../assets/OIP.jpg" *ngIf="right_left_right_i" alt="Member">
                                                    <img src="../../assets/avatar.jpg" *ngIf="!right_left_right_i" alt="Member"> 
                                                    <div class="member-details">
                                                        <b><h1 *ngIf="right_left_right_" style="font-size: 20px; color: brown;">*</h1></b>
                                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{right_left_right}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li> 
                                </ul>
                            </li>
                            <li>
                                <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{right_right}}" (click)="addDataToTree(right_right)" href="javascript:void(0);"  *ngIf="right_right">
                                    <div class="member-view-box">
                                        <div class="member-image">
                                            <img src="../../assets/OIP.jpg" *ngIf="right_right_i" alt="Member">
                                            <img src="../../assets/avatar.jpg" *ngIf="!right_right_i" alt="Member"> 
                                            <div class="member-details">
                                                <b><h1 *ngIf="right_right_" style="font-size: 20px; color: brown;">*</h1></b>
                                                <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{right_right}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li>
                                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{right_right_left}}" (click)="addDataToTree(right_right_left)" href="javascript:void(0);"  *ngIf="right_right_left">
                                            <div class="member-view-box">
                                                <div class="member-image">
                                                    <img src="../../assets/OIP.jpg" *ngIf="right_right_left_i" alt="Member">
                                                    <img src="../../assets/avatar.jpg" *ngIf="!right_right_left_i" alt="Member"> 
                                                    <div class="member-details">
                                                        <b><h1 *ngIf="right_right_left_" style="font-size: 20px; color: brown;">*</h1></b>
                                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{right_right_left}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a  data-toggle="popover" data-content="Specify required content inside popover" title="not Premium User  {{right_right_right}}" (click)="addDataToTree(right_right_right)" href="javascript:void(0);"  *ngIf="right_right_right">
                                            <div class="member-view-box">
                                                <div class="member-image">
                                                    <img src="../../assets/OIP.jpg" *ngIf="right_right_right_i" alt="Member">
                                                    <img src="../../assets/avatar.jpg" *ngIf="!right_right_right_i" alt="Member"> 
                                                    <div class="member-details">
                                                        <b><h1 *ngIf="right_right_right_" style="font-size: 20px; color: brown;">*</h1></b>
                                                        <h3 style="font-size: 9px;  font-family :Impact,'Arial Narrow Bold'" >{{right_right_right}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function(){
         $('[data-toggle="popover"]').popover();
    });
</script>