<section class="second-section">
    <div class="container linewrap">
        <h2>Bank Details</h2>
        <div class="line"></div>
    </div>
</section>

<section class="seventh-section">
    <div class="container row">
        <div class="right-text col-md-7 ">
            <h4>Bank Details</h4>
            <h5>
                <strong>MONEYSAGA CONSULTANCY SERVICES LLP</strong>
            </h5>
            <p> 
                <strong>BANK NAME :</strong>
                YES BANK
                <br>
                <strong>A/C No    :</strong>
                04626340002271
                <br>
                <strong>IFSC      : </strong>
                YESB0000462
                <br>
                <strong>BRANCH    :</strong>
                Pimple Saudagar Pune
                <br>
                <!-- <strong>Google Pay No: 91xxxxxxxx </strong> -->
            </p>
        </div>
        <div class="right-image col-md-5 ">
            <!-- <img src="../../assets/img/Qrcode.jpg" alt> -->
            <img src="../../assets/Qrcode.jpg" alt>

        </div>

    </div>

</section>