<nav class="side-menu">

  <ul class="">

    <div _ngcontent-krk-c54="" class="logoh" style="user-select: text;">

      <a _ngcontent-krk-c54="" href="/" class="logo" style="user-select: text;"><img _ngcontent-krk-c54="" title=""
          alt="MoneySaga" src="../../assets/img/logonew.png" class="img-fluid w-100"
          style="max-width: 100%;min-height: 46px;max-height: 67px;background: black; margin-top: -13px;width: 211px;"></a>

    </div>

    <div _ngcontent-krk-c54="" class="sidebar-header d-flex justify-content-center align-items-center mx-auto"
      style="user-select: text;"><a _ngcontent-krk-c54="" href="dashboard"
        style="user-select: text;border-radius: 52px;"><img _ngcontent-krk-c54=""
          src="http://cdn.onlinewebfonts.com/svg/img_452489.png" alt=""
          style="width: 61px;height: 70px;background: white;user-select: text;"></a>
      <h3 _ngcontent-krk-c54="" style="user-select: text;">Abhinandan Sugga</h3>

    </div>

    <li>
      <a _ngcontent-krk-c54="" href="SponsorRegister" title="Sign Up" style="user-select: text;">
        <i _ngcontent-krk-c54="" id="faIconStyle" class="fas fa-user" style="user-select: text;">
        </i>
        <span _ngcontent-krk-c54="" class="mini-dn" style="user-select: text;">Create User</span><span
          _ngcontent-krk-c54="" class="indicator-right-menu mini-dn" style="user-select: text;">
        </span>
      </a>
    </li>
    <li>
      <a _ngcontent-krk-c54="" href="dashboard" title="My Dashboard" style="user-select: text;">
        <!-- <i _ngcontent-krk-c54="" id="faIconStyle" class="fa big-icon fa-sitemap" style="user-select: text;"></i> -->
        <!-- <i _ngcontent-krk-c54="" id="faIconStyle" class="fas fa-tachometer-alt" style="user-select: text;"></i> -->
        <!-- <i class="fas fa-tachometer-alt"></i> -->
        <i _ngcontent-krk-c54="" id="faIconStyle" class="fas fa-tachometer-alt" style="user-select: text;"></i>

        <span _ngcontent-krk-c54="" class="mini-dn" style="user-select: text;">Dashboard</span><span
          _ngcontent-krk-c54="" class="indicator-right-menu mini-dn" style="user-select: text;"></span>

      </a>
    </li>

    <li class="dropdown">
      <!-- <i class="fa-solid fa-house-chimney-window"></i> -->

      <a _ngcontent-krk-c54="" href="dashboard" title="My Network" style="user-select: text;">
        <i _ngcontent-krk-c54="" id="faIconStyle" class="fa-solid fa-house-chimney-window"
          style="user-select: text;"></i>
        <span _ngcontent-krk-c54="" class="mini-dn" style="user-select: text;">Home</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
      <ul class="dropdown-menu w-100">
        <li><a href="home" class="text-white">Home</a></li>
        <li><a href="about-us" class="text-white">About Us</a></li>
        <li><a href="invite" class="text-white">Invite</a></li>
        <li><a href="pricing" class="text-white"> Pricing</a></li>
        <li><a href="dashboard" class="text-white"> Dashboard</a></li>
        <li><a href="awarenes-campaign" class="text-white">Awareness Campaign</a></li>
        <li><a href="bank-details" class="text-white">Bank Details</a></li>
        <li><a href="contact" class="text-white">Contact</a></li>


      </ul>
    </li>


    <li class="dropdown">


      <a _ngcontent-krk-c54="" href="dashboard" title="My Network" style="user-select: text;"><i _ngcontent-krk-c54=""
          id="faIconStyle" class="fas fa-network-wired" style="user-select: text;"></i><span _ngcontent-krk-c54=""
          class="mini-dn" style="user-select: text;">  Network</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
      <ul class="dropdown-menu w-100">
        <li><a href="tree/{{myId}}/view" class="text-white">Tree Structure</a></li>
        <li><a href="GenerationTreeView" class="text-white">Generation Tree</a></li>
        <li><a href="Idwisedownline" class="text-white"> Downline Id-wise</a></li>
        <li><a href="MyDirect" class="text-white">Direct Joinees</a></li>
        <li><a href="MyDownline" class="text-white">My Team</a></li>
        <li><a href="GenerationDownline" class="text-white">Generation Team</a></li>
      </ul>
    </li>



    <li class="dropdown">
      <!-- <i class="fa-solid fa-money-check-dollar"></i> -->
      <!-- <i class="fa-sharp fa-regular fa-money-check-dollar"></i> -->

      <a _ngcontent-krk-c54="" href="dashboard" title="My Commision" style="user-select: text;">
        <i _ngcontent-krk-c54="" id="faIconStyle" class="fa-solid fa-money-check-dollar" style="user-select: text;"></i>
        <span _ngcontent-krk-c54="" class="mini-dn fs-6" style="user-select: text;">Earnings</span><span
          _ngcontent-krk-c54="" class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>

      <ul class="dropdown-menu w-100">
        <li><a href="CommisionLedger" class="text-white">Earning Details</a></li>
        <li><a href="TDSDetails" class="text-white">TDS Details</a></li>
        <li><a href="SchemeOfferDetailsReport" class="text-white">New Offers</a></li>
        <li><a href="MatchingIncomeReconsulationReport" class="text-white">Matching Income Detail
            Report</a></li>
        <li><a href="RenewalIncomeReconciliationReport" class="text-white">Renewal Income Detail
            Report</a></li>
        <li><a href="LevelReconcilationReport" class="text-white">Level Income Detail Report</a></li>
        <li><a href="RankQualifiersReport" class="text-white">Rank Qualifiers Report</a></li>
      </ul>
    </li>
    


    <li class="dropdown">


      <a _ngcontent-krk-c54="" href="dashboard" title="E-Pin" style="user-select: text;"><i _ngcontent-krk-c54=""
          id="faIconStyle" class="fas fa-credit-card" style="user-select: text;"></i><span _ngcontent-krk-c54=""
          class="mini-dn fs-6" style="user-select: text;">E-Pin</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>

      <ul class="dropdown-menu w-100">
        <li><a href="CheckEpin" class="text-white">Check E-Pin</a></li>
        <li><a href="MemberEpinLogin" class="text-white">E-Pin Place Order</a></li>
        <li><a href="MemberEpinLogin" class="text-white">E-Pin Order Details</a></li>
        <li><a href="MemberEpinLogin" class="text-white">Epin Transfer
          </a></li>
        <li><a href="MemberEpinLogin" class="text-white">E-pin Report</a></li>
        <li><a href="EPinChangePassword" class="text-white">Change Password</a></li>
      </ul>
    </li>

    <li _ngcontent-krk-c54="" style="user-select: text;"><a _ngcontent-krk-c54="" href="/upgrade"
        title="Upgrade Details" style="user-select: text;"><i _ngcontent-krk-c54="" id="faIconStyle"
          class="fas fa-arrow-up" style="user-select: text;"></i><span _ngcontent-krk-c54="" class="mini-dn"
          style="user-select: text;">Upgrade Details</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
      <div _ngcontent-krk-c54="" role="menu" class="dropdown-menu left-menu-dropdown animated flipInX"
        style="user-select: text;"></div>
    </li>

    <li class="dropdown">


      <a _ngcontent-krk-c54="" href="dashboard" title="Communication Center" style="user-select: text;"><i
          _ngcontent-krk-c54="" id="faIconStyle" class="fas fa-comments" style="user-select: text;"></i><span
          _ngcontent-krk-c54="" class="mini-dn fs-6" style="user-select: text;">Communication
          Center</span><span _ngcontent-krk-c54="" class="indicator-right-menu mini-dn"
          style="user-select: text;"></span></a>

      <ul class="dropdown-menu w-100">
        <li><a href="ComposeMessage" class="text-white">Compose Message</a></li>
        <li><a href="Inbox" class="text-white">Inbox</a></li>
        <li><a href="Sent" class="text-white">Sent Items</a></li>
        <!-- <li><a href="Folders" class="text-white">Folders
          </a></li> -->
      </ul>
    </li>
  </ul>
</nav>
<!-- 
<nav class="side-menu relative px-4 py-4 flex justify-between items-center">

  <ul class="">

    <div _ngcontent-krk-c54="" class="view-file-in" style="user-select: text;">

      <a _ngcontent-krk-c54="" href="/" class="logo" style="user-select: text;"><img _ngcontent-krk-c54="" title=""
          alt="MoneySaga" src="../../assets/img/logonew.png"
          style="max-width: 100%; min-height: 45px; max-height: 50px; user-select: text;"></a>

    </div>

    <div _ngcontent-krk-c54="" class="sidebar-header d-flex justify-content-center align-items-center mx-auto"
      style="user-select: text;"><a _ngcontent-krk-c54="" href="dashboard" style="user-select: text;"><img
          _ngcontent-krk-c54="" src="https://wealthgenics.com/Themes/Vnext/Content/ThemeLogo/ProfileImage.png" alt=""
          style="width: 80px; height: 80px; user-select: text;"></a>
      <h3 _ngcontent-krk-c54="" style="user-select: text;">Abhinandan Sugga</h3>

    </div>

    <li>
      <a _ngcontent-krk-c54="" href="SponsorRegister" title="Sign Up" style="user-select: text;">
        <i _ngcontent-krk-c54="" id="faIconStyle" class="fas fa-user" style="user-select: text;">
        </i>
        <span _ngcontent-krk-c54="" class="mini-dn" style="user-select: text;"> Sign Up</span><span
          _ngcontent-krk-c54="" class="indicator-right-menu mini-dn" style="user-select: text;">
        </span>
      </a>
    </li>
    <li>
      <a _ngcontent-krk-c54="" href="dashboard" title="My Dashboard" style="user-select: text;">
        <i class="fas fa-tachometer-alt"></i>

        <span _ngcontent-krk-c54="" class="mini-dn" style="user-select: text;"> My Dashboard</span><span
          _ngcontent-krk-c54="" class="indicator-right-menu mini-dn" style="user-select: text;"></span>

      </a>
    </li>


    <li class="dropdown">


      <a _ngcontent-krk-c54="" href="dashboard" title="My Network" style="user-select: text;"><i _ngcontent-krk-c54=""
          id="faIconStyle" class="fas fa-network-wired" style="user-select: text;"></i><span _ngcontent-krk-c54=""
          class="mini-dn" style="user-select: text;">Home</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
      <ul class="dropdown-menu w-100">
        <li><a href="home" class="text-white">Home</a></li>
        <li><a href="about=us" class="text-white">Generation Tree</a></li>
        <li><a href="invite" class="text-white">Invite</a></li>
        <li><a href="pricing" class="text-white"> pricing</a></li>
        <li><a href="dashboard" class="text-white"> dashboard</a></li>
        <li><a href="awarenes-campaign" class="text-white">awarenes-campaign</a></li>
        <li><a href="bank-details" class="text-white">Bank Details</a></li>
        <li><a href="contact" class="text-white">contact</a></li>


      </ul>
    </li>


    <li class="dropdown">


      <a _ngcontent-krk-c54="" href="dashboard" title="My Network" style="user-select: text;"><i _ngcontent-krk-c54=""
          id="faIconStyle" class="fas fa-network-wired" style="user-select: text;"></i><span _ngcontent-krk-c54=""
          class="mini-dn" style="user-select: text;">My Network</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
      <ul class="dropdown-menu w-100">
        <li><a href="tree" class="text-white">Tree View</a></li>
        <li><a href="GenerationTreeView" class="text-white">Generation Tree</a></li>
        <li><a href="Idwisedownline" class="text-white">Id-wise Downline</a></li>
        <li><a href="MyDirect" class="text-white">My Direct</a></li>
        <li><a href="MyDownline" class="text-white">My Downline</a></li>
        <li><a href="GenerationDownline" class="text-white">Generation Downline</a></li>
      </ul>
    </li>

    <li class="dropdown">


      <a _ngcontent-krk-c54="" href="dashboard" title="My Commision" style="user-select: text;"><i _ngcontent-krk-c54=""
          id="faIconStyle" class="fa big-icon fa-money" style="user-select: text;"></i><span _ngcontent-krk-c54=""
          class="mini-dn fs-6" style="user-select: text;"> My Commission</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>

      <ul class="dropdown-menu">
        <li><a href="CommisionLedger" class="text-white">Commision Ledger</a></li>
        <li><a href="TDSDetails" class="text-white">TDS Details</a></li>
        <li><a href="SchemeOfferDetailsReport" class="text-white">Schemes & Offers</a></li>
        <li><a href="MatchingIncomeReconsulationReport" class="text-white">Matching Income Reconciliation
            Report</a></li>
        <li><a href="RenewalIncomeReconciliationReport" class="text-white">Renewal Income Reconciliation
            Report</a></li>
        <li><a href="LevelReconcilationReport" class="text-white">Level Reconciliation Report</a></li>
        <li><a href="RankQualifiersReport" class="text-white">Rank Qualifiers Report</a></li>
      </ul>
    </li>


    <li class="dropdown">


      <a _ngcontent-krk-c54="" href="dashboard" title="E-Pin" style="user-select: text;"><i _ngcontent-krk-c54=""
          id="faIconStyle" class="fas fa-credit-card" style="user-select: text;"></i><span _ngcontent-krk-c54=""
          class="mini-dn fs-6" style="user-select: text;">E-Pin</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>

      <ul class="dropdown-menu w-100">
        <li><a href="CheckEpin" class="text-white">Check E-Pin</a></li>
        <li><a href="MemberEpinLogin" class="text-white">E-Pin Place Order</a></li>
        <li><a href="MemberEpinLogin" class="text-white">E-Pin Order Details</a></li>
        <li><a href="MemberEpinLogin" class="text-white">Epin Transfer
          </a></li>
        <li><a href="MemberEpinLogin" class="text-white">E-pin Report</a></li>
        <li><a href="EPinChangePassword" class="text-white">Change Password</a></li>
      </ul>
    </li>

    <li _ngcontent-krk-c54="" style="user-select: text;"><a _ngcontent-krk-c54="" href="/upgrade"
        title="Upgrade Details" style="user-select: text;"><i _ngcontent-krk-c54="" id="faIconStyle"
          class="fas fa-arrow-up" style="user-select: text;"></i><span _ngcontent-krk-c54="" class="mini-dn"
          style="user-select: text;"> Upgrade Details</span><span _ngcontent-krk-c54=""
          class="indicator-right-menu mini-dn" style="user-select: text;"></span></a>
      <div _ngcontent-krk-c54="" role="menu" class="dropdown-menu left-menu-dropdown animated flipInX"
        style="user-select: text;"></div>
    </li>

    <li class="dropdown">


      <a _ngcontent-krk-c54="" href="dashboard" title="Communication Center" style="user-select: text;"><i
          _ngcontent-krk-c54="" id="faIconStyle" class="fas fa-comments" style="user-select: text;"></i><span
          _ngcontent-krk-c54="" class="mini-dn fs-6" style="user-select: text;">Communication
          Center</span><span _ngcontent-krk-c54="" class="indicator-right-menu mini-dn"
          style="user-select: text;"></span></a>

      <ul class="dropdown-menu w-100">
        <li><a href="ComposeMessage" class="text-white">Compose Message</a></li>
        <li><a href="Inbox" class="text-white">Inbox</a></li>
        <li><a href="Sent" class="text-white">Sent Items</a></li>
        <li><a href="Folders" class="text-white">Folders
          </a></li>
      </ul>
    </li>
  </ul>
</nav> -->