<div class="wrapper-pro">
    <div class="left-sidebar-pro">
        <app-side-menu></app-side-menu>

    </div>

    <div class="content-inner-all">
        <div class="admin-dashone-data-table-area" style="user-select: text;">
            <div class="container-fluid" style="user-select: text;">
                <div class="row" style="user-select: text;">
                    <div class="col-lg-12" style="user-select: text;">




                        <br style="user-select: text;">
                        <form action="/MyNetwork/IDwiseDownline" method="post" style="user-select: text;"><input
                                name="__RequestVerificationToken" type="hidden"
                                value="LssIa8LYe8q6b52eF3HZACsbE2BijlbslHfV_YZVoFS-8BNF4811R_f1wt0hs0ddHGDf4ChIgoQXCilEL9BzxPAlHd6WtIoGMiy-azzWnfM1"
                                style="user-select: text;"><input id="HideExportToExcelFunctionality"
                                name="HideExportToExcelFunctionality" type="hidden" value="False"
                                style="user-select: text;"> <input type="hidden" value="0" id="AllCommitionIncomeFlag"
                                style="user-select: text;">
                            <div class="page account-page return-request-list-page "
                                style="min-height: 0px; user-select: text;">

                                <div class="page-title" style="user-select: text;">

                                </div>
                                <div class="page registration-result-page" style="min-height: 0px; user-select: text;">
                                    <div class="page-body" style="user-select: text;">



                                        <div class="message-error error" id="validationMessages"
                                            style="user-select: text;"></div>

                                        <div class="sparkline13-list shadow-reset" style="user-select: text;">

                                            <div class="sparkline13-graph" style="user-select: text;">
                                                <div class="datatable-dashv1-list custom-datatable-overright"
                                                    style="user-select: text;">

                                                    <div class="row" style="user-select: text;">
                                                        <div class="col-lg-12" style="user-select: text;">
                                                            <div class="all-form-element-inner"
                                                                style="user-select: text;">
                                                                <div class="form-group-inner"
                                                                    style="user-select: text;">
                                                                    <br style="user-select: text;">
                                                                    <div class="row" style="user-select: text;">
                                                                        <div class="col-md-4"
                                                                            style="user-select: text;">
                                                                            <label style="user-select: text;">Search By
                                                                                ID/Name</label>
                                                                        </div>
                                                                        <div class="col-md-6"
                                                                            style="user-select: text;">
                                                                            <span role="status" aria-live="polite"
                                                                                class="ui-helper-hidden-accessible"
                                                                                style="user-select: text;"></span><input
                                                                                type="text"
                                                                                class="form-control ui-autocomplete-input"
                                                                                id="SearchFirstName" value=""
                                                                                name="SearchFirstName"
                                                                                autocomplete="off"
                                                                                style="user-select: text;">
                                                                            <input type="hidden" name="MemID"
                                                                                id="hiddenSearchMemID" value=""
                                                                                style="user-select: text;">
                                                                            <input type="hidden" name="MemNo"
                                                                                id="hiddenSearchMemno" value=""
                                                                                style="user-select: text;">
                                                                            <div id="divfirstname" class="inputs"
                                                                                style="display: none; user-select: text;">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="login-horizental cancel-wp align-middle"
                                                                    style="user-select: text;">
                                                                    <button class="btn btn-custon-four btn-primary"
                                                                        id="search" type="button"
                                                                        style="user-select: text;"><i
                                                                            class="fa fa-search"
                                                                            style="user-select: text;"></i>
                                                                        Search</button>
                                                                    <button class="btn btn-custon-four btn-warning"
                                                                        type="button" id="btnreset"
                                                                        style="user-select: text;"><i
                                                                            class="fa fa-refresh"
                                                                            style="user-select: text;"></i>
                                                                        Reset</button>
                                                                    <input type="hidden" name="hdnReset" id="hdnReset"
                                                                        value="" style="user-select: text;">
                                                                </div>







                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <br style="user-select: text;">
                                        <div class="sparkline16-list shadow-reset" style="user-select: text;">
                                            <div class="sparkline16-hd" style="user-select: text;">
                                                <div class="main-sparkline16-hd" style="user-select: text;">
                                                    <h1 style="user-select: text;"> Downline ID-wise</h1>
                                                    <div class="sparkline16-outline-icon" style="user-select: text;">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sparkline16-list shadow-reset" style="user-select: text;">
                                                <div class="sparkline16-graph" style="user-select: text;">
                                                    <div id="ScrollableDiv" style="user-select: text;">
                                                        <div class="datatable-dashv1-list custom-datatable-overright"
                                                            id="ScrollableDiv1" style="user-select: text;">

                                                            <link rel="stylesheet"
                                                                href="/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css"
                                                                style="user-select: text;">

                                                            <div class="table-wrapper" style="user-select: text;">
                                                                <div id="mydirectDataTable_wrapper"
                                                                    class="dataTables_wrapper no-footer"
                                                                    style="user-select: text;">
                                                                    <div class="DTTT_container"
                                                                        style="user-select: text;"><a
                                                                            class="DTTT_button DTTT_button_xls"
                                                                            id="ToolTables_mydirectDataTable_0"
                                                                            title="Export To Excel" tabindex="0"
                                                                            aria-controls="mydirectDataTable"
                                                                            style="user-select: text;"><span id=""
                                                                                style="user-select: text;"><img
                                                                                    src="../Scripts/DataTables/Excel-icon.png"
                                                                                    style="user-select: text;"></span></a>
                                                                    </div>
                                                                    <div class="clear" style="user-select: text;"></div>
                                                                    <form class="form-inline my-2 my-lg-0">
                                                                        <input class="form-control mr-sm-2"
                                                                            type="search" placeholder="Search"
                                                                            aria-label="Search">
                                                                        <button
                                                                            class="btn btn-outline-success my-2 my-sm-0"
                                                                            type="submit">Search</button>
                                                                    </form>
                                                                    <div id="mydirectDataTable_processing"
                                                                        class="dataTables_processing"
                                                                        style="display: none; user-select: text;">
                                                                        <div class="loader" style="user-select: text;">
                                                                        </div>
                                                                    </div>
                                                                    <table id="mydirectDataTable"
                                                                        class="table table-striped table-bordered dataTable no-footer DTTT_selectable"
                                                                        cellspacing="0" width="100%" role="grid"
                                                                        aria-describedby="mydirectDataTable_info"
                                                                        style="width: 100%; user-select: text;">
                                                                        <thead style="user-select: text;">
                                                                            <tr role="row" style="user-select: text;">
                                                                                <th class="sorting_asc" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 73.4px; user-select: text;"
                                                                                    aria-sort="ascending" aria-label="
                    ID
                : activate to sort column descending">
                                                                                    ID
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 113.4px; user-select: text;"
                                                                                    aria-label="
                    Name
                : activate to sort column ascending">
                                                                                    Name
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 67.4px; user-select: text;"
                                                                                    aria-label="
                    Left Count
                : activate to sort column ascending">
                                                                                    Left Count
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 75.4px; user-select: text;"
                                                                                    aria-label="
                    Right Count
                : activate to sort column ascending">
                                                                                    Right Count
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 122.4px; user-select: text;"
                                                                                    aria-label="
                    Confirm Left Count
                : activate to sort column ascending">
                                                                                    Confirm Left Count
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 130.4px; user-select: text;"
                                                                                    aria-label="
                    Confirm Right Count
                : activate to sort column ascending">
                                                                                    Confirm Right Count
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 45.4px; user-select: text;"
                                                                                    aria-label="
                    Left PV
                : activate to sort column ascending">
                                                                                    Left PV
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 53.4px; user-select: text;"
                                                                                    aria-label="
                    Right PV
                : activate to sort column ascending">
                                                                                    Right PV
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 100.4px; user-select: text;"
                                                                                    aria-label="
                    Confirm Left PV
                : activate to sort column ascending">
                                                                                    Confirm Left PV
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 108.4px; user-select: text;"
                                                                                    aria-label="
                    Confirm Right PV
                : activate to sort column ascending">
                                                                                    Confirm Right PV
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 50.4px; user-select: text;"
                                                                                    aria-label="
                    Own PV
                : activate to sort column ascending">
                                                                                    Own PV
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 105.4px; user-select: text;"
                                                                                    aria-label="
                    Confirm Own PV
                : activate to sort column ascending">
                                                                                    Confirm Own PV
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody style="user-select: text;">
                                                                            <tr role="row" class="odd"
                                                                                style="user-select: text;" *ngFor="let userData of data">
                                                                                <td data-label="
                    ID
                " class="sorting_1" style="user-select: text;">{{userData.id}}</td>
                                                                                <td data-label="
                    Name
                " style="user-select: text;" *ngIf="userData.name != ''">{{userData.name}}</td>
                <td data-label="
                    Name
                " style="user-select: text;" *ngIf="userData.name == ''">Null</td>
                                                                                <td data-label="
                    Left Count
                " style="user-select: text;">0</td>
                                                                                <td data-label="
                    Right Count
                " style="user-select: text;">0</td>
                                                                                <td data-label="
                    Confirm Left Count
                " style="user-select: text;">0</td>
                                                                                <td data-label="
                    Confirm Right Count
                " style="user-select: text;">0</td>
                                                                                <td data-label="
                    Left PV
                " style="user-select: text;">0</td>
                                                                                <td data-label="
                    Right PV
                " style="user-select: text;">0</td>
                                                                                <td data-label="
                    Confirm Left PV
                " style="user-select: text;">0</td>
                                                                                <td data-label="
                    Confirm Right PV
                " style="user-select: text;">0</td>
                                                                                <td data-label="
                    Own PV
                " style="user-select: text;">100</td>
                                                                                <td data-label="
                    Confirm Own PV
                " style="user-select: text;">100</td>
                                                                            </tr>
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                    <div class="dataTables_info"
                                                                        id="mydirectDataTable_info" role="status"
                                                                        aria-live="polite" style="user-select: text;">
                                                                        <div class="dataTables_length"
                                                                            id="mydirectDataTable_length"
                                                                            style="user-select: text;">Showing 1 to 9 of
                                                                            9 entries <span style="user-select: text;">
                                                                                , <select
                                                                                    name="mydirectDataTable_length"
                                                                                    aria-controls="mydirectDataTable"
                                                                                    class="" style="user-select: text;">
                                                                                    <option value="10"
                                                                                        style="user-select: text;">10
                                                                                    </option>
                                                                                    <option value="25"
                                                                                        style="user-select: text;">25
                                                                                    </option>
                                                                                    <option value="50"
                                                                                        style="user-select: text;">50
                                                                                    </option>
                                                                                    <option value="100"
                                                                                        style="user-select: text;">100
                                                                                    </option>
                                                                                </select> entries per page</span></div>
                                                                    </div>
                                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                                        id="mydirectDataTable_paginate"
                                                                        style="display: none; user-select: text;"><a
                                                                            class="paginate_button previous disabled"
                                                                            aria-controls="mydirectDataTable"
                                                                            data-dt-idx="0" tabindex="0"
                                                                            id="mydirectDataTable_previous"
                                                                            style="user-select: text;">&lt;</a><span
                                                                            style="user-select: text;"><a
                                                                                class="paginate_button current"
                                                                                aria-controls="mydirectDataTable"
                                                                                data-dt-idx="1" tabindex="0"
                                                                                style="user-select: text;">1</a></span><a
                                                                            class="paginate_button next disabled"
                                                                            aria-controls="mydirectDataTable"
                                                                            data-dt-idx="2" tabindex="0"
                                                                            id="mydirectDataTable_next"
                                                                            style="user-select: text;">&gt;</a></div>
                                                                </div>
                                                            </div>

                                                            <script style="user-select: text;">
                                                                function getDateWithTime(objdate) {

                                                                    var myDate;
                                                                    var myKindoDate;
                                                                    var str;
                                                                    var dashrecord;
                                                                    if (objdate != "") {
                                                                        if (objdate.indexOf('-') != -1) {
                                                                            res = objdate.split("-");
                                                                            var date1 = res[1];
                                                                            var month1 = res[0];
                                                                            var year1 = res[2];
                                                                            dashrecord = date1 + '/' + month1 + '/' + year1
                                                                            var data = {
                                                                                term: dashrecord
                                                                            };
                                                                        }
                                                                        else {
                                                                            var data = {
                                                                                term: objdate
                                                                            };
                                                                        }

                                                                        addAntiForgeryToken(data);

                                                                        $.ajax({
                                                                            url: "/Common/GetDateTimeInCurrentTimeZone",
                                                                            type: "POST",
                                                                            dataType: "json",
                                                                            data: data,
                                                                            async: false,
                                                                            success: function (result) {
                                                                                str = result.dateTime
                                                                            },
                                                                            error: function (xhr, textStatus, exceptionThrown) {
                                                                                //alert('hi');
                                                                                $("#validationMessages").html("");
                                                                                $("#validationMessages").show();
                                                                                $("#validationMessages").html("Kendo not initialized properly");
                                                                            }
                                                                        });


                                                                        var res;
                                                                        if (str.indexOf('-') == -1) {
                                                                            res = str.split("/");
                                                                            var date = res[0];
                                                                            var month = res[1];
                                                                            var year = res[2];
                                                                            myKindoDate = date + '/' + month + '/' + year
                                                                        }
                                                                        else {
                                                                            res = str.split("-");
                                                                            var date = res[0];
                                                                            var month = res[1];
                                                                            var year = res[2];
                                                                            myDate = date + '-' + month + '-' + year
                                                                        }


                                                                        if (str == myDate) {
                                                                            //Check valid 1-1-1900
                                                                            var getAllDate = myDate.split(" ");
                                                                            var comDate = getAllDate[0];

                                                                            HmyDate = month + '/' + date + '/' + year

                                                                            if (HmyDate == '-')
                                                                                return HmyDate;
                                                                            else if (comDate == '1-1-1900' || comDate == '01-01-1900' || HmyDate == "")
                                                                                return '-';
                                                                            else

                                                                                return getDateFromString(HmyDate, "dd/MM/yyyy");
                                                                        }

                                                                        else if (str == myKindoDate) {
                                                                            //Check valid 1/1/1900
                                                                            var getAllDate = myKindoDate.split(" ");
                                                                            var comDate = getAllDate[0];

                                                                            HmyDate = date + '/' + month + '/' + year

                                                                            if (HmyDate == '-')
                                                                                return HmyDate;
                                                                            else if (comDate == '1/1/1900' || comDate == '01/01/1900' || HmyDate == "")
                                                                                return '-';
                                                                            else

                                                                                return getDateFromString(HmyDate, "dd/MM/yyyy");
                                                                        }


                                                                    }
                                                                    else {
                                                                        if (objdate == "")
                                                                            return '-';
                                                                    }
                                                                }

                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                </div>
                                <br style="user-select: text;">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>