<div class="wrapper-pro">
    <div class="left-sidebar-pro">
        <app-side-menu></app-side-menu>
    </div>

    <div class="content-inner-all">
        <div class="admin-dashone-data-table-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <style>
                            .sparkline7-graph {
                                display: block !important;
                            }
                        </style>
                        <br>
                        <div class="inbox-mailbox-area mg-b-15">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-3">



                                                <style>
                                                    #onManualView {
                                                        display: block;
                                                    }

                                                    #onMObileView {
                                                        display: none;
                                                    }

                                                    @media (min-width: 1026px) {
                                                        #MemPanelPosition {
                                                            display: block;
                                                        }
                                                    }


                                                    @media (min-width: 320px) and (max-width: 1025px) {
                                                        #onMObileView {
                                                            display: block;
                                                        }

                                                        #onManualView {
                                                            display: none;
                                                        }
                                                    }
                                                </style>

                                                <div
                                                    class="block block-account-navigation  mobile.account-navigation-wrapper">
                                                    <div class="inbox-email-menu-list compose-b-mg-30 shadow-reset">
                                                        <div class="compose-email" id="onManualView">
                                                            <strong>My Account</strong>
                                                        </div>
                                                        <div class="compose-email" id="onMObileView"
                                                            data-toggle="collapse" data-target="#MemPanelPosition"
                                                            style="cursor:pointer">
                                                            <strong>My Account</strong>
                                                        </div>
                                                        <div id="MemPanelPosition" class="collapse">
                                                            <ul class="nav nav-tabs">


                                                                <li>
                                                                    <a href="/Customerinfo" class="inactive"><span
                                                                            class="inbox-icon"> <i
                                                                                class="fa-solid fa-info fa-7x"></i></span>Student
                                                                        Info</a>
                                                                </li>

                                                                <li>
                                                                    <a href="/OrderHistory" class="active"><span
                                                                            class="inbox-icon"><i
                                                                                class="fa-brands fa-first-order fa-7x"></i></span>Order
                                                                        Details</a>
                                                                </li>
                                                                <li>
                                                                    <a href="/CustomerInvoices" class="inactive"><span
                                                                            class="inbox-icon"><i
                                                                                class="fa-solid fa-receipt fa-7x"></i></span>Invoices</a>
                                                                </li>

                                                                <li>
                                                                    <a href="/CustomerKYCDocument"
                                                                        class="inactive"><span class="inbox-icon"><i
                                                                                class="fa-solid fa-id-card fa-7x"></i></span>KYC
                                                                        Document</a>
                                                                </li>
                                                                <!-- <li>
                                                                    <a href="/download" class="inactive"><span
                                                                            class="inbox-icon"><i
                                                                                class="fa fa-cloud-download fa-7x"></i></span>Download
                                                                        Document</a>
                                                                </li> -->

                                                                <li>
                                                                    <a href="/customerChangepassword"
                                                                        class="inactive"><span class="inbox-icon"><i
                                                                                class="fa-solid fa-lock-open fa-7x"></i></span>Change
                                                                        Password</a>
                                                                </li>


                                                                <li>
                                                                    <a href="/WelcomeLetterDetails"
                                                                        class="inactive"><span class="inbox-icon"><i
                                                                                class="fa-regular fa-handshake fa-7x"></i></span>Welcome
                                                                        Letter</a>
                                                                </li>


                                                                <li>
                                                                    <a href="/UpgradeDetails" class="inactive"><span
                                                                            class="inbox-icon"><i
                                                                                class="fa-solid fa-gears fa-7x"></i></span>Upgrade
                                                                        Details</a>
                                                                </li>
                                                                <li>
                                                                    <a href="/RenewalDetails" class="inactive"><span
                                                                            class="inbox-icon"><i
                                                                                class="fa-solid fa-recycle fa-7x"></i></span>
                                                                        Renewal Details</a>
                                                                </li>


                                                                <li>
                                                                    <a href="/ShowIdCardDetails" class="inactive"><span
                                                                            class="inbox-icon"><i
                                                                                class="fa-solid fa-id-card-clip fa-7x"></i></span>Id
                                                                        Card</a>
                                                                </li>



                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div
                                                    class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">

                                                    <div class="page-body">

                                                        <div class="pie-bar-line-area">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <div
                                                                            class="sparkline7-list shadow-reset mg-b-15">
                                                                            <div class="sparkline7-hd">
                                                                                <div class="main-spark7-hd">
                                                                                    <h1><strong>Order Number:
                                                                                            9747</strong></h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sparkline7-graph">
                                                                                <ul class="profile-contact-menu">
                                                                                    <li>Order status: <span
                                                                                            class="order-status complete">Complete</span>
                                                                                    </li>
                                                                                    <li>Order Date: <span
                                                                                            class="order-date">21/08/2021</span>
                                                                                    </li>
                                                                                    <li>Order Total: <span
                                                                                            class="order-total">₹
                                                                                            2950.00</span></li>
                                                                                    <li>Total PV: <span
                                                                                            class="order-total">0.00</span>
                                                                                    </li>


                                                                                </ul>
                                                                                <br>
                                                                                <div class="customerOrderbutton">

                                                                                    <button type="button"
                                                                                        class="btn btn-custon-four btn-primary"
                                                                                        onclick="setLocation('/orderdetails/9747')"><i
                                                                                            class="fa fa-edit"></i>
                                                                                        Details</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div
                                                                            class="sparkline7-list shadow-reset mg-b-15">
                                                                            <div class="sparkline7-hd">
                                                                                <div class="main-spark7-hd">
                                                                                    <h1><strong>Order Number:
                                                                                            7033</strong></h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sparkline7-graph">
                                                                                <ul class="profile-contact-menu">
                                                                                    <li>Order status: <span
                                                                                            class="order-status complete">Complete</span>
                                                                                    </li>
                                                                                    <li>Order Date: <span
                                                                                            class="order-date">22/04/2021</span>
                                                                                    </li>
                                                                                    <li>Order Total: <span
                                                                                            class="order-total">₹
                                                                                            2950.00</span></li>
                                                                                    <li>Total PV: <span
                                                                                            class="order-total">0.00</span>
                                                                                    </li>


                                                                                </ul>
                                                                                <br>
                                                                                <div class="customerOrderbutton">

                                                                                    <button type="button"
                                                                                        class="btn btn-custon-four btn-primary"
                                                                                        onclick="setLocation('/orderdetails/7033')"><i
                                                                                            class="fa fa-edit"></i>
                                                                                        Details</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div
                                                                            class="sparkline7-list shadow-reset mg-b-15">
                                                                            <div class="sparkline7-hd">
                                                                                <div class="main-spark7-hd">
                                                                                    <h1><strong>Order Number:
                                                                                            6086</strong></h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sparkline7-graph">
                                                                                <ul class="profile-contact-menu">
                                                                                    <li>Order status: <span
                                                                                            class="order-status complete">Complete</span>
                                                                                    </li>
                                                                                    <li>Order Date: <span
                                                                                            class="order-date">17/03/2021</span>
                                                                                    </li>
                                                                                    <li>Order Total: <span
                                                                                            class="order-total">₹
                                                                                            2950.00</span></li>
                                                                                    <li>Total PV: <span
                                                                                            class="order-total">0.00</span>
                                                                                    </li>


                                                                                </ul>
                                                                                <br>
                                                                                <div class="customerOrderbutton">

                                                                                    <button type="button"
                                                                                        class="btn btn-custon-four btn-primary"
                                                                                        onclick="setLocation('/orderdetails/6086')"><i
                                                                                            class="fa fa-edit"></i>
                                                                                        Details</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div
                                                                            class="sparkline7-list shadow-reset mg-b-15">
                                                                            <div class="sparkline7-hd">
                                                                                <div class="main-spark7-hd">
                                                                                    <h1><strong>Order Number:
                                                                                            5218</strong></h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sparkline7-graph">
                                                                                <ul class="profile-contact-menu">
                                                                                    <li>Order status: <span
                                                                                            class="order-status complete">Complete</span>
                                                                                    </li>
                                                                                    <li>Order Date: <span
                                                                                            class="order-date">09/02/2021</span>
                                                                                    </li>
                                                                                    <li>Order Total: <span
                                                                                            class="order-total">₹
                                                                                            2950.00</span></li>
                                                                                    <li>Total PV: <span
                                                                                            class="order-total">0.00</span>
                                                                                    </li>


                                                                                </ul>
                                                                                <br>
                                                                                <div class="customerOrderbutton">

                                                                                    <button type="button"
                                                                                        class="btn btn-custon-four btn-primary"
                                                                                        onclick="setLocation('/orderdetails/5218')"><i
                                                                                            class="fa fa-edit"></i>
                                                                                        Details</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div
                                                                            class="sparkline7-list shadow-reset mg-b-15">
                                                                            <div class="sparkline7-hd">
                                                                                <div class="main-spark7-hd">
                                                                                    <h1><strong>Order Number:
                                                                                            4193</strong></h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sparkline7-graph">
                                                                                <ul class="profile-contact-menu">
                                                                                    <li>Order status: <span
                                                                                            class="order-status complete">Complete</span>
                                                                                    </li>
                                                                                    <li>Order Date: <span
                                                                                            class="order-date">21/12/2020</span>
                                                                                    </li>
                                                                                    <li>Order Total: <span
                                                                                            class="order-total">₹
                                                                                            8850.00</span></li>
                                                                                    <li>Total PV: <span
                                                                                            class="order-total">100.00</span>
                                                                                    </li>


                                                                                </ul>
                                                                                <br>
                                                                                <div class="customerOrderbutton">

                                                                                    <button type="button"
                                                                                        class="btn btn-custon-four btn-primary"
                                                                                        onclick="setLocation('/orderdetails/4193')"><i
                                                                                            class="fa fa-edit"></i>
                                                                                        Details</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>
            </div>
        </div>
    </div>
</div>