<div class="container" style="padding-left: 6%;padding-right: 6%;margin-top: 120px; margin-bottom: 120px;">
    <div style="background-image: url('../../assets/incruption.png');" class="row">
        <div class="col-sm-6">
            <div class="title">
                What is E-PIN ?
            </div>
            <div class="subs">
                E-Pin is an innovative payment system that allows MLM recruits and businesses to enable a highly secured option to
                gather payment. Prime MLM software helps MLM businesses to generate a secured e-pin for any significant transactions and upgradations. 
                A highly secured e-pin can be used for a range of options, such as for adding recruits, 
                upgrading the current program, and for reinstating participants.</div>
        </div>
    
        <div class="col-sm-6" style="justify-content: center;display: flex;">
            <div class="d-flex flex-column f1" >
                <div class="d-flex justify-content-between f2"  style="margin-top: 25px;">
                    <input type="text" placeholder="W123456789">
                    <button class="btn2" style="margin-top: 2.5px;">Copy</button>
                </div>
            </div>
        </div>
    </div>
</div>
