<div class="banner">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center title text-white " style="margin-top: 50px;">Our Awareness Campaign</div>
        </div>
    </div>
</div>


<section class="second-section plan">

    <div class="container">
        <h2>Business Plan</h2>
        <div class="line"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="planbox">
                    <div class="corner-ribbon top-right sticky blue"> </div>
                    <h4>
                        <a href="https://wealthgenics.com/Themes/Vnext/WebDesign/download/Financial%20Awareness%20Program.pptx"
                            target="_blank">
                            DOWNLOAD PDF
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="planbox">
                    <div class="corner-ribbon top-right sticky blue"> </div>
                    <h4><a href="https://www.youtube.com/watch?v=KviprsolKbQ" target="_blank">WATCH VIDEO</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>