<div class="banner">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="text-center title" style="">
        We are on a Mission to Educate at least <br>1 Million Users so that they are Financially Free
      </div>
    </div>
  </div>
</div>

<div class="row" style="
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
  ">
  <div class="col-sm-6">
    <img src="../../assets/institution.png" alt="" />
  </div>
  <div class="col-sm-6">
    <div class="d-flex flex-column" style="justify-content: start;">
      <div class="main-text">MoneySaga Consultancy Services</div>
      <p class="slogan" style="color: #ce992f; font-family: poppins">
        <b>Your Story of Financial Freedom</b>
      </p>
      <p class="description" style="color: white; font-family: poppins; margin-top: 30px">
        MoneySaga Consultancy Services (MCS) is an Indian Company situated in Pune, Maharashtra. MCS is better known for
        its Financial Education and business into the Financial Markets. <br><br>With 6 different courses in the field
        of Finance has emerged with a well-known brand in Education and also in helping people with Financial and Non-
        Financial background to Earn its 2nd Income and be ready to beat the inflation and any other calamities, crises
        or situations like pandemics.
      </p>
    </div>
  </div>
</div>

<div class="row" id="fmob2" style="padding-left: 40px; padding-right: 40px">
  <div class="col-sm-6">
    <div class="d-flex flex-column" id="fmob" style="justify-content: start">
      <div class="main-text">Pravin Suryawanshi</div>
      <p class="slogan" style="color: #ce992f; font-family: poppins">
        <b>MD & CEO of MoneySaga Consultancy</b>
      </p>
      <p class="description" style="
          color: white;
          font-family: poppins;
          margin-top: 30px;
          margin-bottom: 30px;
        ">
        With a Dynamic Vision and Energy, Mr. Pravin N Suryawanshi Started MoneySaga Consultancy Services. Being a True
        Indian and a son of a Farmer and coming from a poor and humble family background, has lot of respect for the
        Hard-workers and Unemployed people and the most for the Soldiers and Farmers of India.
        <br><br>After Being Financially Free since last 6 years now his only Motto is to Serve the Nation by providing
        money making skills income source to all the Unemployed and a Second income for others so that they can also
        achieve Early Financial Freedom.
        <br><br>His Vision is to reach every village, town, city where mobile network can reach and Educate at least One
        member of Every Family to become Financially Free so that He / She would educate the other members of the Family
        to achieve their Financial Freedom.
        <br><br>As MD of MoneySaga company he wants to provide valuable and Life changing Education to our clients in
        various age group starting from Teenagers to the Senior Citizens and from School going Children, Collegians,
        Employees, Businessmen, House Wives and all those who love making and multiplying Money.

      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <img src="../../assets/ceo_profile.jpg" alt="" />
  </div>
</div>


<div class="text-center main-text" style="color: #ce992f; margin-top: 70px; margin-bottom: 30px">
  Support Services
</div>

<div class="row" style="padding-left: 8%; padding-right: 8%; margin-bottom: 50px">
  <div class="col-sm-4">
    <div class="main-text" style="font-size: 30px">Customer Care</div>
    <div class="underline" style="width: 197px;
    border: 2.5px solid #FF5A1A;"></div><br>
    <p style="color: azure;" class="support_desc"><b>For Information regarding Course Activation/ Mobile & Web
        Application / Business presentations</b> </p>
    <div class="d-flex justify-content-between" style="max-width: 160px; margin-top: 30px">
      <!-- <img src="../../assets/img/iconly-light-outline-call@2x.svg" alt="" /> -->
      <!-- <div class="main-text" style="font-size: 20px">+91 9673768585</div> -->
    </div>
    <div class="d-flex justify-content-between" style="max-width: 285px;">
      <img src="../../assets/img/iconly-light-outline-message@2x.svg" alt="" />
      <div class="main-text" style="font-size: 20px">
        info@moneysagaconsultancy.com
      </div>
    </div>

    <div class="main-text" style="font-size: 24px; margin-top: 60px; font-size: 30px">
      Admin Department
    </div>
    <div class="underline" style="width: 255px;
    border: 2.5px solid #FF5A1A;"></div><br>
    <p style="color: azure;" class="support_desc"><b>For Information regarding Social Media Marketing and Marketing
        Material</b> </p>

    <div class="d-flex justify-content-between" style="max-width: 160px; margin-top: 30px">
      <!-- <img src="../../assets/img/iconly-light-outline-call@2x.svg" alt="" /> -->
      <!-- <div class="main-text" style="font-size: 20px">+91 9764218585</div> -->
    </div>
    <div class="d-flex justify-content-between" style="max-width: 285px;">
      <img src="../../assets/img/iconly-light-outline-message@2x.svg" alt="" />
      <div class="main-text" style="font-size: 20px">
        admin@moneysagaconsultancy.com
      </div>
    </div>
  </div>

  <div class="col-sm-4" id="accMob">
    <div class="main-text" style="font-size: 30px">Accounts Department</div>
    <div class="underline" style="width: 285px;
    border: 2.5px solid #FF5A1A;"></div><br>
    <p style="color: azure;" class="support_desc"><b>For Subscription / Business Pay-out / Payment Gateways</b> </p>

    <div class="d-flex justify-content-between" style="max-width: 160px; margin-top: 30px">
      <!-- <img src="../../assets/img/iconly-light-outline-call@2x.svg" alt="" /> -->
      <!-- <div class="main-text" style="font-size: 20px">+91 9607978585</div> -->
    </div>
    <div class="d-flex justify-content-between" style="max-width: 285px;">
      <img src="../../assets/img/iconly-light-outline-message@2x.svg" alt="" />
      <div class="main-text" style="font-size: 20px">
        accounts@moneysagaconsultancy.com
      </div>
    </div>


  </div>

  <div class="col-sm-4">
    <div class="box">
      <div class="main-text">Branch Office</div>
      <div class="mission" style="margin-top: 25px">Position</div>

      <select onselect="branch_select" class="form-select" [(ngModel)]="selectedValue">
        <option selected>Branch Select</option>
        <option value="1">Maharashtra</option>
        <option value="2">Goa</option>
        <option value="3">Rajasthan</option>
      </select>
      <!-- <button (click)="getValue()" class="text-white">Show Branch</button> -->

      <!-- <p>MoneySaga Consultancy Services LLP
        Flat no.7, Lane no. 1</p>
      <p>Saikrupa Apartment, Shani Mandir Lane,</p>
      <p>Netaji Nagar, Pimple Gurav, Pune.</p> -->

      <div *ngIf="selectedValue === '1'" class="text-white my-5">MoneySaga Consultancy Services LLP
        Flat no.7, Lane no. 1,
        Saikrupa Apartment, Shani Mandir Lane,
        Netaji Nagar, Pimple Gurav, Pune.- 411061</div>
      <div *ngIf="selectedValue === '2'" class="text-white my-5">Coming Soon</div>
      <div *ngIf="selectedValue === '3'" class="text-white my-5">Coming Soon</div>

    </div>
  </div>

</div>

<!-- (click)="openNav()" -->