<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="d-flex flex-column" style="align-items: center;">
                <div class="label">
                     <div class="d-flex justify-content-between" style="width: 150px;">
                        <img src="../../assets/img/image-4@2x.png" alt="" style="width: 20px;height: 20px;margin-top: 7px;">
                        <div class="title">Full course</div>
                    </div>
                </div>
                <div class="label" style="width: 318px;">
                    <div class="d-flex justify-content-between" style="width: 250px;">
                       <img src="../../assets/img/image-4@2x.png" alt="" style="width: 20px;height: 20px;margin-top: 7px;">
                       <div class="title">Network Marketing</div>
                   </div>
               </div>
               <div class="label">
                <div class="d-flex justify-content-between" style="width: 170px;">
                   <img src="../../assets/img/image-4@2x.png" alt="" style="width: 20px;height: 20px;margin-top: 7px;">
                   <div class="title">Invite Friends</div>
               </div>
           </div>
    
           <div class="label" style="width: 305px;">
            <div class="d-flex justify-content-between" style="width: 250px;">
               <img src="../../assets/img/image-4@2x.png" alt="" style="width: 20px;height: 20px;margin-top: 7px;">
               <div class="title">Earn extra Income</div>
           </div>
       </div>
    
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="d-flex flex-column" style="align-items: center;">
                <img src="../../assets/img/undraw-online-learning-re-qw08-1@1x.svg" alt="">
                <div class="course-title">Forex Trading Course</div>
                <div class="title" style="color: white;">Unlock more features with it</div>
                <button type="submit" class="btn" style="margin-top: 50px;" routerLink="/payment">Buy Course</button>
                <div class="title" style="font-size: 16px;margin-top: 20px;margin-bottom: 50px;">Pay Later</div>
            </div>
        </div>
    
        <div class="col-sm-3">
            <div class="d-flex flex-column" style="align-items: center;justify-content: center;height: 600px;">
                <div class="video">
                    <img src="../../assets/img/rectangle-978-2@2x.png" alt="">
                </div>
            </div>
        </div>
    
    </div>
    
</div>