<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-3 mb-sm-0">
      <div class="d-flex flex-column" style="align-items: center">
        <div class="label" style="width: 100%">
          <div class="d-flex justify-content-between align-items-center" style=" padding-left: 13px;">
            <img src="../../assets/img/image-4@2x.png" alt=""
              style="width: 20px; height: 20px; margin-top: 7px" />&nbsp;&nbsp;
            <div class="title" style="font-size: 22px">Learn and Earn through Our Different Courses</div>
          </div>
        </div>
        <div class="label" style="width: 100%">
          <div class="d-flex justify-content-between" style=" padding-left: 13px;">
            <img src="../../assets/img/image-4@2x.png" alt=""
              style="width: 20px; height: 20px; margin-top: 7px" />&nbsp;&nbsp;
            <div class="title" style="font-size: 22px">Opportunity to Earn through Multiple Sources</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-3 mb-sm-0">
      <div class="d-flex flex-column" style="align-items: center;padding-left: 13px;" >
        <img src="../../assets/img/undraw-online-learning-re-qw08-1@1x.svg" alt=""
          style="max-width: 100%; height: auto;" />
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 mb-sm-0">
      <div class="d-flex flex-column" style="padding-left: 13px;align-items: center">
        <div class="label" style="width: 100%">
          <div class="d-flex justify-content-between">
            <img src="../../assets/img/image-4@2x.png" class="mx-auto" alt=""
              style="width: 20px; height: 20px; margin-top: 7px" />&nbsp;&nbsp;
            <div class="title" style="font-size: 22px">
              Start your Free Franchisee Business with Us

            </div>
          </div>
        </div>

        <div class="label" style="width: 100%">
          <div class="d-flex justify-content-between">
            <img src="../../assets/img/image-4@2x.png" alt="" class="mx-auto"
              style="width: 20px; height: 20px; margin-top: 7px" />&nbsp;&nbsp;
            <div class="title" style="font-size: 22px">Plan & Achieve Early Financial Freedom</div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 60px; margin-bottom: 60px">


    <div class="course-title">Choose From Anyone Of The Courses Below</div>

    <div class="row justify-content-evenly" style="margin-right: 10px">

      <div (click)="razor_pay1()" class="label2 col-md-4 col-sm-6 mb-4 text-center">

        <div class="plan-details text-center" style="margin-top: 10px">
          Forex Market
        </div>
        <div class="plan-details text-center" style="margin-top: 5px">
          Course
        </div>
        <h1 class="text-white my-auto fs-1 mx-auto mt-3">( A )</h1>
        <div class="plan-details text-center" style="margin-top: 50px; color: #ce992f">
          Rs. 15,000 + GST
        </div>
        <div class="plan-details text-center" style="margin-top: 5px; color: #ce992f">
          OR 245 USD
        </div>
      </div>

      <div (click)="razor_pay2()" class="label2  col-md-4 col-sm-6 mb-4 text-center" style="margin-left: 10px">
        <div class="plan-details text-center" style="margin-top: 10px">Indian Stock </div>
        <div class="plan-details text-center" style="margin-top: 5px"> Market Course</div>
        <h1 class="text-white my-auto fs-1 mx-auto mt-3">( B )</h1>

        <div class="plan-details" style="margin-top: 50px; color: #ce992f">
          Rs. 15,000 + GST
        </div>
        <div class="plan-details" style="margin-top: 5px; color: #ce992f">
          OR 245 USD
        </div>
      </div>

      <div (click)="razor_pay3()" class="label2  col-md-4 col-sm-6 mb-4 text-center" style="margin-left: 10px">
        <div class="plan-details text-center" style="margin-top: 10px">Combo Course</div>
        <div class="plan-details text-center" style="margin-top: 5px">
          Forex & Stock Market
        </div>

        <h1 class="text-white my-auto fs-1 mx-auto mt-3">( A & B )</h1>

        <div class="plan-details" style="margin-top: 50px; color: #ce992f">
          Rs. 25,000 + GST
        </div>
        <div class="plan-details" style="margin-top: 5px; color: #ce992f">
          OR 405 USD
        </div>
      </div>
    </div>


  </div>


</div>