<div class="wrapper-pro">
    <div class="left-sidebar-pro">
        <app-side-menu></app-side-menu>
    </div>

    <div class="content-inner-all">
        <div class="admin-dashone-data-table-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <style>
                            @media all and (min-width: 320px) and (max-width:480px) {
                                .ResetFacebookAuth {
                                    margin-top: 2% !important;
                                }
                            }
                        </style>
                        <link href="/content/treeview/mytreestyle.css" rel="stylesheet">
                        <br>
                        <form action="/EPin/EPinChangePassword" method="post"><input name="__RequestVerificationToken"
                                type="hidden"
                                value="RVBNuLodJno3nJ4DxVfCQTTg2wyO3otW7O_LHD7iaFYtH7_18zPDbaoOg4dNLi0cX02goHhMVrxZae4MH5rDcCyWKGl8_abRp4iLS6WESmo1">
                            <div class="sparkline16-list shadow-reset">
                                <div class="sparkline16-hd">
                                    <div class="main-sparkline16-hd">
                                        <h1>E-Pin Change Password</h1>
                                    </div>
                                </div>
                                <div class="sparkline16-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="all-form-element-inner">
                                                    <br>
                                                    <div class="result" style="text-align:center;">

                                                    </div>

                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label for="OldPassword">Current Password</label>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" id="txtOldPassword"
                                                                    name="txtOldPassword" type="password">
                                                                <span class="field-validation-valid"
                                                                    data-valmsg-for="txtOldPassword"
                                                                    data-valmsg-replace="true"></span>
                                                            </div>
                                                            <div class="col-md-1" id="requiedAttricSymbol">
                                                                <span class="required">*</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label for="Hint">Password Hint</label>
                                                            </div>
                                                            <div class="col-md-6" style="text-align: center">
                                                                <a title="Tip To Create Strong Password"
                                                                    href="/EPin/Strongpwdtip"><b
                                                                        style="color: cornflowerblue">Tip To Create
                                                                        Strong
                                                                        Password </b> </a>
                                                            </div>
                                                            <div class="col-md-1" id="requiedAttricSymbol">
                                                                <span class="required">*</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label for="NewPassword">New Password</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" id="txtNewPassword"
                                                                    name="txtNewPassword" type="password">
                                                                <span class="field-validation-valid"
                                                                    data-valmsg-for="txtNewPassword"
                                                                    data-valmsg-replace="true"></span>
                                                            </div>
                                                            <div class="col-md-1" id="requiedAttricSymbol">
                                                                <span class="required">*</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label for="ConfirmPassword">Confirm Password</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" id="txtConfirmPassword"
                                                                    name="txtConfirmPassword" type="password">
                                                                <span class="field-validation-valid"
                                                                    data-valmsg-for="txtConfirmPassword"
                                                                    data-valmsg-replace="true"></span>
                                                            </div>
                                                            <div class="col-md-1" id="requiedAttricSymbol">
                                                                <span class="required">*</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="login-horizental cancel-wp align-middle">
                                                        <button type="submit" id="Save" name="ResetEpinPassword"
                                                            class="btn btn-custon-four btn-primary"><i
                                                                class="fa fa-save"></i>
                                                            Save</button>
                                                        <button type="button" id="btnreset" name="ForgetPassword"
                                                            class="btn btn-custon-four btn-warning"><i
                                                                class="fa fa-refresh"></i> Reset</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>







                    </div>

                </div>
            </div>
        </div>
    </div>
</div>