<div class="contact" style="margin-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="flex-column justify-content-center" style="align-items: center;">
          <h1 class="title2">Contact Us</h1>
          <div class="subs"><strong>Please fill in the details below for any queries. We will be happy to Help you at
              the Earliest.</strong></div>
          <div class="d-flex justify-content-between" id="cnt" style="max-width: 450px;margin-top: 50px;">
            <input class="inp" type="text" style="padding:12px 20px;" placeholder="First Name">
            <input class="inp" type="text" style="padding:12px 20px;" placeholder="Last Name">
          </div>
          <div style="padding-top: 20px;"><input class="inp" type="text" style="padding:12px 20px;width: 450px;"
              placeholder="Email"></div>
          <div style="padding-top: 20px;"><select title="Select preferred country code " value="countryCode"
              name="countryCode" class="inp2">
              <option value="+91">+91</option>
              <option value="+1">+1</option>
              <option value="+44">+44</option>
              <option value="+61">+61</option>
              <option value="+1">+1</option>
              <option value="+65">+65</option>
            </select>
            <input class="inp" style="padding: 12px 20px;width: 390px;" type="tel" placeholder="Mobile No." />
          </div>
          <!-- <input class="inp" type="text" style="padding:12px 20px;"placeholder="Mobile No."> -->
          <textarea class="inp" name="description" id="desc" cols="30" rows="30" style="padding:12px 20px;"
            placeholder="Send Message"></textarea>
        </div>
        <a class=" lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus"
          href="#"
          style="background: #CE992F;border-radius: 0px 30px 30px 20px;font-family: poppins;margin-top: 20px;margin-bottom: 50px;">Get
          Started</a>
      </div>
    </div>
  </div>
</div>