.contact {
  background-image: url("../../assets/img/rectangle-980-1@1x.png");
  background-size: 100% 100%;
}

.title2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height */

  color: #ce992f;
}

.subs {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  max-width: 435px;

  color: #666666;
}

@media only screen and (min-width: 600px) {
  .inp {
    box-sizing: border-box;
    width: 205px;
    height: 71px;
    border: 2px solid #000000;
    border-radius: 5px;
  }

  .inp2 {
    box-sizing: border-box;
    width: 60px;
    height: 71px;
    border: 2px solid #000000;
    border-radius: 5px;
  }

  #desc {
    width: 450px;
    margin-top: 20px;
    height: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;

    color: #ffffff;
  }

  .get {
    color: white;
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width: 528px;
    margin-top: 20px;
  }

  .img1 {
    width: 220px;
    position: relative;
    top: 25px;
    left: 2%;
  }

  .img2 {
    width: 220px;
    position: relative;
    top: 25px;
    left: 25%;
  }

  .img3 {
    width: 220px;
    position: relative;
    top: 25px;
    left: 2%;
  }

  .img4 {
    width: 220px;
    position: relative;
    top: 25px;
    left: 25%;
  }

  .imgUpd {
    width: 200px;
    height: 150px;
  }

  #imgX {
    left: 14%;
  }

  .updImg {
    width: 280px;
  }

  .inp {
    padding-left: 20px;
    box-sizing: border-box;
    max-width: 150px;
    height: 25px;
    border: 2px solid #000000;
    border-radius: 5px;
  }

  .inp2 {
    padding-left: 1px;
    box-sizing: border-box;
    max-width: 65px;
    height: 25px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-left: 1px;
  }

  #desc {
    max-width: 500px;
    margin-top: 20px;
    height: 100px;
  }

  .contact {
    height: 500px;
  }
}


@media (min-width: 320px) and (max-width: 480px) {}

@media (min-width: 481px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1024px) {}


@media (min-width: 1025px) and (max-width: 1200px) {}